@font-face{font-family:'socicon';src:url(//localhost/cvx/wp-content/plugins/social-icons-widget-by-wpzoom/assets/font/socicon.eot);src:url(//localhost/cvx/wp-content/plugins/social-icons-widget-by-wpzoom/assets/font/socicon.eot) format('embedded-opentype'), url(//localhost/cvx/wp-content/plugins/social-icons-widget-by-wpzoom/assets/font/socicon.ttf) format('truetype'), url(//localhost/cvx/wp-content/plugins/social-icons-widget-by-wpzoom/assets/font/socicon.woff) format('woff'), url(//localhost/cvx/wp-content/plugins/social-icons-widget-by-wpzoom/assets/font/socicon.svg) format('svg');font-weight:normal;font-style:normal;text-transform:initial;}
.socicon{position:relative;top:3px;display:inline-block;font-family:'socicon';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:1.2em;}
.socicon:empty{width:1em;}
.socicon-500px{background-color:#58a9de;color:#58a9de;}
.socicon-500px:before{content:"\e056"}
.socicon-airbnb{background-color:#FF5A5F;color:#FF5A5F;}
.socicon-airbnb:before{content:"\e00e"}
.socicon-android{background-color:#8ec047;color:#8ec047;}
.socicon-android:before{content:"\e03e"}
.socicon-angieslist{background-color:#299F37;color:#299F37;}
.socicon-angieslist:before{content:"\e916"}
.socicon-apple{background-color:#B9BFC1;color:#B9BFC1;}
.socicon-apple:before{content:"\e02e"}
.socicon-appnet{background-color:#494949;color:#494949;}
.socicon-appnet:before{content:"\e013"}
.socicon-appstore{background-color:#007AFF;color:#007AFF;}
.socicon-appstore:before{content:"\e91f"}
.socicon-baidu{background-color:#2319DC;color:#2319DC;}
.socicon-baidu:before{content:"\e061"}
.socicon-bandcamp{background-color:#619aa9;color:#619aa9;}
.socicon-bandcamp:before{content:"\e06a"}
.socicon-beatport{background-color:#94d500;color:#94d500;}
.socicon-beatport:before{content:"\e955"}
.socicon-bebo{background-color:#EF1011;color:#EF1011;}
.socicon-bebo:before{content:"\e035"}
.socicon-behance{background-color:#1769ff;color:#1769ff;}
.socicon-behance:before{content:"\e027"}
.socicon-blogger{background-color:#ec661c;color:#ec661c;}
.socicon-blogger:before{content:"\e020"}
.socicon-bloglovin{background-color:#000000;color:#000000;}
.socicon-bloglovin:before{content:"\e075"}
.socicon-buffer{background-color:#000000;color:#000000;}
.socicon-buffer:before{content:"\e018"}
.socicon-coderwall{background-color:#3E8DCC;color:#3E8DCC;}
.socicon-coderwall:before{content:"\e011"}
.socicon-codered{background-color:#FF033B;color:#FF033B;}
.socicon-codered:before{content:"\e940"}
.socicon-crunchbase{background-color:#0288d1;color:#0288d1;}
.socicon-crunchbase:before{content:"\e93b"}
.socicon-dailymotion{background-color:#004e72;color:#004e72;}
.socicon-dailymotion:before{content:"\e053"}
.socicon-delicious{background-color:#020202;color:#020202;}
.socicon-delicious:before{content:"\e028"}
.socicon-deviantart{background-color:#c5d200;color:#c5d200;}
.socicon-deviantart:before{content:"\e029"}
.socicon-deezer{background-color:#32323d;color:#32323d;}
.socicon-deezer:before{content:"\e06c"}
.socicon-digg{background-color:#1d1d1b;color:#1d1d1b;}
.socicon-digg:before{content:"\e025"}
.socicon-discord{background-color:#7289da;color:#7289da;}
.socicon-discord:before{content:"\e903";}
.socicon-discord2{background-color:#7289da;color:#7289da;}
.socicon-discord2:before{content:"\e079";}
.socicon-disqus{background-color:#2e9fff;color:#2e9fff;}
.socicon-disqus:before{content:"\e019"}
.socicon-dribbble{background-color:#e84d88;color:#e84d88;}
.socicon-dribbble:before{content:"\e023"}
.socicon-drupal{background-color:#00598e;color:#00598e;}
.socicon-drupal:before{content:"\e002"}
.socicon-ebay{background-color:#E53238;color:#E53238;}
.socicon-ebay:before{content:"\e063"}
.socicon-ello{background-color:#000;color:#000;}
.socicon-ello:before{content:"\e006"}
.socicon-envato{background-color:#82B540;color:#82B540;}
.socicon-envato:before{content:"\e026"}
.socicon-eyeem{background-color:#000000;color:#000000;}
.socicon-eyeem:before{content:"\e902"}
.socicon-facebook{background-color:#3b5998;color:#3b5998;}
.socicon-facebook:before{content:"\e041"}
.socicon-feedburner{background-color:#FFCC00;color:#FFCC00;}
.socicon-feedburner:before{content:"\e048"}
.socicon-feedly{background-color:#34B151;color:#34B151;}
.socicon-feedly:before{content:"\e074"}
.socicon-flattr{background-color:#F67C1A;color:#F67C1A;}
.socicon-flattr:before{content:"\e02f"}
.socicon-flipboard{background-color:#E12828;color:#E12828;}
.socicon-flipboard:before{content:"\e904";}
.socicon-flipboard2{background-color:#E12828;color:#E12828;}
.socicon-flipboard2:before{content:"\e905";}
.socicon-flickr{background-color:#ff0084;color:#ff0084;}
.socicon-flickr:before{content:"\e055"}
.socicon-foursquare{background-color:#F94877;color:#F94877;}
.socicon-foursquare:before{content:"\e044"}
.socicon-friendfeed{background-color:#2F72C4;color:#2F72C4;}
.socicon-friendfeed:before{content:"\e032"}
.socicon-github{background-color:#221e1b;color:#221e1b;}
.socicon-github:before{content:"\e030"}
.socicon-goodreads{background-color:#463020;color:#463020;}
.socicon-goodreads:before{content:"\e014"}
.socicon-google{background-color:#d93e2d;color:#d93e2d;}
.socicon-google:before{content:"\e042"}
.socicon-grooveshark{background-color:#000000;color:#000000;}
.socicon-grooveshark:before{content:"\e04f"}
.socicon-hellocoton{background-color:#D50066;color:#D50066;}
.socicon-hellocoton:before{content:"\e901"}
.socicon-houzz{background-color:#7CC04B;color:#7CC04B;}
.socicon-houzz:before{content:"\e00a"}
.socicon-identica{background-color:#000000;color:#000000;}
.socicon-identica:before{content:"\e034"}
.socicon-instagram{background-color:#E1306C;color:#E1306C;}
.socicon-instagram:before{content:"\e057"}
.socicon-itunes{background-color:#ff5e51;color:#ff5e51;}
.socicon-itunes:before{content:"\e0ae"}
.socicon-lanyrd{background-color:#3c80c9;color:#3c80c9;}
.socicon-lanyrd:before{content:"\e016"}
.socicon-lastfm{background-color:#d41316;color:#d41316;}
.socicon-lastfm:before{content:"\e050"}
.socicon-line{background-color:#00BA27;color:#00BA27;}
.socicon-line:before{content:"\e900"}
.socicon-linkedin{background-color:#3371b7;color:#3371b7;}
.socicon-linkedin:before{content:"\e049"}
.socicon-lookbook{background-color:#000000;color:#000000;}
.socicon-lookbook:before{content:"\e073"}
.socicon-mail{background-color:#000000;color:#000000;}
.socicon-mail:before{content:"\e01f"}
.socicon-mastodon{background-color:#2B8BD0;color:#2B8BD0;}
.socicon-mastodon:before{content:"\e913"}
.socicon-medium{background-color:#01AB6C;color:#01AB6C}
.socicon-medium:before{content:"\e06d"}
.socicon-meetup{background-color:#e2373c;color:#e2373c;}
.socicon-meetup:before{content:"\e03c"}
.socicon-messenger{background-color:#0084ff;color:#0084ff;}
.socicon-messenger:before{content:"\e906"}
.socicon-myspace{background-color:#323232;color:#323232;}
.socicon-myspace:before{content:"\e04c"}
.socicon-newsvine{background-color:#075B2F;color:#075B2F;}
.socicon-newsvine:before{content:"\e033"}
.socicon-nextdoor{background-color:#01B247;color:#01B247;}
.socicon-nextdoor:before{content:"\e942"}
.socicon-odnoklassniki{background-color:#f48420;color:#f48420;}
.socicon-odnoklassniki:before{content:"\e00d"}
.socicon-overwatch{background-color:#9E9E9E;color:#9E9E9E;}
.socicon-overwatch:before{content:"\e076"}
.socicon-outlook{background-color:#0072C6;color:#0072C6;}
.socicon-outlook:before{content:"\e010"}
.socicon-patreon{background-color:#E44727;color:#E44727;}
.socicon-patreon:before{content:"\e01c"}
.socicon-paypal{background-color:#009cde;color:#009cde;}
.socicon-paypal:before{content:"\e00c"}
.socicon-periscope{background-color:#40A4C4;color:#40A4C4;}
.socicon-periscope:before{content:"\e00f"}
.socicon-persona{background-color:#e6753d;color:#e6753d;}
.socicon-persona:before{content:"\e008"}
.socicon-pinterest{background-color:#c92619;color:#c92619;}
.socicon-pinterest:before{content:"\e043"}
.socicon-play{background-color:#000000;color:#000000;}
.socicon-play:before{content:"\e02b"}
.socicon-playstation{background-color:#000000;color:#000000;}
.socicon-playstation:before{content:"\e03d"}
.socicon-reddit{background-color:#e74a1e;color:#e74a1e;}
.socicon-reddit:before{content:"\e022"}
.socicon-researchgate{background-color:#00CCBB;color:#00CCBB;}
.socicon-researchgate:before{content:"\e078"}
.socicon-reverbnation{background-color:#000;color:#000;}
.socicon-reverbnation:before{content:"\e07b"}
.socicon-rss{background-color:#f26109;color:#f26109;}
.socicon-rss:before{content:"\e00b"}
.socicon-skype{background-color:#28abe3;color:#28abe3;}
.socicon-skype:before{content:"\e046"}
.socicon-slack{background-color:#4B6BC6;color:#4B6BC6;}
.socicon-slack:before{content:"\e918"}
.socicon-slideshare{background-color:#4ba3a6;color:#4ba3a6;}
.socicon-slideshare:before{content:"\e017"}
.socicon-smugmug{background-color:#ACFD32;color:#ACFD32;}
.socicon-smugmug:before{content:"\e05e"}
.socicon-snapchat{background-color:#000000;color:#000000;}
.socicon-snapchat:before{content:"\e03f"}
.socicon-songkick{background-color:#F80046;color:#F80046;}
.socicon-songkick:before{content:"\e07a"}
.socicon-soundcloud{background-color:#fe3801;color:#fe3801;}
.socicon-soundcloud:before{content:"\e04d"}
.socicon-spotify{background-color:#7bb342;color:#7bb342;}
.socicon-spotify:before{content:"\e04e"}
.socicon-stackoverflow{background-color:#FD9827;color:#FD9827;}
.socicon-stackoverflow:before{content:"\e007"}
.socicon-steam{background-color:#8F8D8A;color:#8F8D8A;}
.socicon-steam:before{content:"\e037"}
.socicon-strava{background-color:#FC4C02;color:#FC4C02;}
.socicon-strava:before{content:"\e081"}
.socicon-stumbleupon{background-color:#e64011;color:#e64011;}
.socicon-stumbleupon:before{content:"\e024"}
.socicon-swarm{background-color:#FC9D3C;color:#FC9D3C;}
.socicon-swarm:before{content:"\e003"}
.socicon-technorati{background-color:#5cb030;color:#5cb030;}
.socicon-technorati:before{content:"\e021"}
.socicon-telegram{background-color:#0088cc;color:#0088cc;}
.socicon-telegram:before{content:"\e06e"}
.socicon-tidal{background-color:#01FFFF;color:#01FFFF;}
.socicon-tidal:before{content:"\e910"}
.socicon-tripadvisor:before{content:"\e012"}
.socicon-tripadvisor{background-color:#589442;color:#589442;}
.socicon-tripadvisor:before{content:"\e012"}
.socicon-tripit{background-color:#1982C3;color:#1982C3;}
.socicon-tripit:before{content:"\e015"}
.socicon-triplej{background-color:#E53531;color:#E53531;}
.socicon-triplej:before{content:"\e009"}
.socicon-tumblr{background-color:#45556c;color:#45556c;}
.socicon-tumblr:before{content:"\e059"}
.socicon-twitter{background-color:#55acee;color:#55acee;}
.socicon-twitter:before{content:"\e040"}
.socicon-unsplash{background-color:#000;color:#000;}
.socicon-unsplash:before{content:"\e914"}
.socicon-udemy{background-color:#17aa1c;color:#17aa1c;}
.socicon-udemy:before{content:"\e93f"}
.socicon-viadeo{background-color:#e4a000;color:#e4a000;}
.socicon-viadeo:before{content:"\e04a"}
.socicon-viber{background-color:#7b519d;color:#7b519d;}
.socicon-viber:before{content:"\e071"}
.socicon-vimeo{background-color:#51b5e7;color:#51b5e7;}
.socicon-vimeo:before{content:"\e052"}
.socicon-vine{background-color:#00b389;color:#00b389;}
.socicon-vine:before{content:"\e054"}
.socicon-vkontakte{background-color:#5a7fa6;color:#5a7fa6;}
.socicon-vkontakte:before{content:"\e01a"}
.socicon-whatsapp{background-color:#20B038;color:#20B038;}
.socicon-whatsapp:before{content:"\e01b"}
.socicon-wikipedia{background-color:#000000;color:#000000;}
.socicon-wikipedia:before{content:"\e02d"}
.socicon-windows{background-color:#00BDF6;color:#00BDF6;}
.socicon-windows:before{content:"\e039"}
.socicon-wordpress{background-color:#464646;color:#464646;}
.socicon-wordpress:before{content:"\e058"}
.socicon-xbox{background-color:#92C83E;color:#92C83E;}
.socicon-xbox:before{content:"\e038"}
.socicon-xing{background-color:#005a60;color:#005a60;}
.socicon-xing:before{content:"\e04b"}
.socicon-yahoo{background-color:#6E2A85;color:#6E2A85;}
.socicon-yahoo:before{content:"\e045"}
.socicon-yammer{background-color:#1175C4;color:#1175C4;}
.socicon-yammer:before{content:"\e005"}
.socicon-yelp{background-color:#c83218;color:#c83218;}
.socicon-yelp:before{content:"\e047"}
.socicon-youtube{background-color:#e02a20;color:#e02a20;}
.socicon-youtube:before{content:"\e051"}
.socicon-zerply{background-color:#9DBC7A;color:#9DBC7A;}
.socicon-zerply:before{content:"\e02c"}
.socicon-zynga{background-color:#DC0606;color:#DC0606;}
.socicon-zynga:before{content:"\e036"}
.zoom-social-icons-list{list-style-type:none;}
.zoom-social_icons-list__item{margin:0 0 10px;}
.zoom-social_icons-list__label{margin-left:4px;}
.zoom-social-icons-list--no-labels .zoom-social_icons-list__item{display:inline-block;margin:4px;border:none;}
.zoom-social-icons-list .socicon,
.zoom-social-icons-list .dashicons,
.zoom-social-icons-list .genericon,
.zoom-social-icons-list .fa{padding:8px;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;-moz-transition:opacity .2s;-webkit-transition:opacity .2s;transition:opacity .2s;top:0px;vertical-align:middle;width:1em;height:1em;line-height:1em;font-size:1.2em;}
.zoom-social-icons-list--with-canvas .socicon,
.zoom-social-icons-list--with-canvas .dashicons,
.zoom-social-icons-list--with-canvas .genericon,
.zoom-social-icons-list--with-canvas .fa{color:#ffffff;}
.zoom-social-icons-list--without-canvas .socicon,
.zoom-social-icons-list--without-canvas .dashicons,
.zoom-social-icons-list--without-canvas .genericon,
.zoom-social-icons-list--without-canvas .fa{background:none;}
.widget .zoom-social-icons-list--without-canvas{margin-left:-8px;margin-top:-4px;}
.widget .zoom-social-icons-list--no-labels.zoom-social-icons-list--without-canvas{margin-left:-14px;margin-top:-8px;}
.zoom-social-icons-list--rounded .socicon,
.zoom-social-icons-list--rounded .genericon,
.zoom-social-icons-list--rounded .dashicons,
.zoom-social-icons-list--rounded .fa{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-align:center;text-decoration:none;}
.zoom-social_icons-list__link{text-align:center;text-decoration:none !important;transition:all 0.2s ease;}
.zoom-social_icons-list__link:hover{opacity:.9;border:none;text-decoration:none;box-shadow:none !important;}
.zoom-social-icons-list--round .socicon,
.zoom-social-icons-list--round .genericon,
.zoom-social-icons-list--round .dashicons,
.zoom-social-icons-list--round .fa{-moz-border-radius:100px;-webkit-border-radius:100px;border-radius:100px;}
.zoom-social-icons-list{margin:0;padding:0;}
.zoom-social-icons-widget .zoom-social-icons-list--align-left{text-align:left;}
.zoom-social-icons-widget .zoom-social-icons-list--align-right{text-align:right;}
.zoom-social-icons-widget .zoom-social-icons-list--align-center{text-align:center;}
.screen-reader-text {
border: 0;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute ! important;
width: 1px;
word-wrap: normal ! important;
}