// General

.elementor-text-editor h6 {
    @extend .body-text-large;
    margin: 0 0 18px 0;
}

.elementor-text-editor h3 {
    margin: 0;
    @extend .body-text-large;
    font-weight:bold;
}

.elementor-text-editor p {
    @extend .body-text;
    margin:0 0 18px 0;
    strong {
        font-weight:600;
    }
}

.elementor .elementor-widget-heading .elementor-heading-title {
    @extend %heading;
    @extend .heading;
}

.elementor-element-overlay {
    z-index:999;
}


// Info box

.info-box .elementor-text-editor h5 {
    font-size: 220px;
    margin: 0 10px 0px -16px;
    line-height: 100%;
    @include ipad-down {
        font-size: 180px;
    }
}

.elementor-column-wrap {
    @include mobile {
        border: 0!important;
    }
}

.info-box .elementor-text-editor h6 {
    margin: 0;
}

.info-box .elementor-text-editor ul li {
    @extend .body-text-large;
    color: $offwhite;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom:16px;
    &:before {
        content:"";
        margin-right:16px;
        display: inline-block;
        background-color: $blue;
        width: 45px;
        height: 45px;
        flex: 0 0 45px;
        border-radius: 100%;
        background-image: url(./img/checkmark-white.svg);
        background-repeat: no-repeat;
        background-size: 35% 35%;
        background-position: center center;
    }
}

// Right arrow

.arrow .elementor-column:after {
    @include laptop-up {
        content:"";
        background: url(./img/icon-arrow-right-blue.svg);
        display: block;
        width:30px;
        height:30px;
        background-repeat: no-repeat;
        right: -15px;
        position: absolute;
        top: 55px;
    }
}

.arrow .elementor-column:last-of-type:after {
    display: none;
}

.elementor-button {
    padding: 0!important;
}

.elementor-button-text {
    @extend .button;
    @extend .button--primary;
}

.modal-content .fa-close:before {
    content: "\00d7";
    line-height: 55%;
}

.modal-content {
    margin-bottom: 5%;
}