.wpcf7-response-output {
    max-width: 450px;
    margin: 0 auto!important;
    border:0!important;
    margin-top:30px!important;
    padding: 0!important;
    @extend .body-text-large;
}

.wpcf7-mail-sent-ok {
    color: $offwhite!important;
}

.wpcf7-validation-errors {
    color: #c31818!important;
}

.wpcf7-not-valid-tip {
    margin-bottom:10px;
    color:#c31818!important;
    @extend .body-text-large;
}
