@font-face{font-family:eicons;src:url(//localhost/cvx/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.eot?4.1.0);src:url(//localhost/cvx/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.eot?4.1.0#iefix) format("embedded-opentype"),url(//localhost/cvx/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.woff2?4.1.0) format("woff2"),url(//localhost/cvx/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.woff?4.1.0) format("woff"),url(//localhost/cvx/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.ttf?4.1.0) format("truetype"),url(//localhost/cvx/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.svg?4.1.0#eicon) format("svg");font-weight:400;font-style:normal}
[class*=" eicon-"],[class^=eicon]{display:inline-block;font-family:eicons;font-size:inherit;font-weight:400;font-style:normal;font-variant:normal;line-height:1;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
@keyframes a{0%{transform:rotate(0deg)}to{transform:rotate(359deg)}
}.eicon-animation-spin{animation:a 2s infinite linear}
.eicon-elementor:before{content:'\e800'}
.eicon-elementor-square:before{content:'\e801'}
.eicon-pojome:before{content:'\e802'}
.eicon-plus:before{content:'\e803'}
.eicon-menu-bar:before{content:'\e804'}
.eicon-apps:before{content:'\e805'}
.eicon-accordion:before{content:'\e806'}
.eicon-alert:before{content:'\e807'}
.eicon-animation-text:before{content:'\e808'}
.eicon-animation:before{content:'\e809'}
.eicon-banner:before{content:'\e810'}
.eicon-blockquote:before{content:'\e811'}
.eicon-button:before{content:'\e812'}
.eicon-call-to-action:before{content:'\e813'}
.eicon-captcha:before{content:'\e814'}
.eicon-carousel:before{content:'\e815'}
.eicon-checkbox:before{content:'\e816'}
.eicon-columns:before{content:'\e817'}
.eicon-countdown:before{content:'\e818'}
.eicon-counter:before{content:'\e819'}
.eicon-date:before{content:'\e820'}
.eicon-divider-shape:before{content:'\e821'}
.eicon-divider:before{content:'\e822'}
.eicon-download-button:before{content:'\e823'}
.eicon-dual-button:before{content:'\e824'}
.eicon-email-field:before{content:'\e825'}
.eicon-facebook-comments:before{content:'\e826'}
.eicon-facebook-like-box:before{content:'\e827'}
.eicon-form-horizontal:before{content:'\e828'}
.eicon-form-vertical:before{content:'\e829'}
.eicon-gallery-grid:before{content:'\e830'}
.eicon-gallery-group:before{content:'\e831'}
.eicon-gallery-justified:before{content:'\e832'}
.eicon-gallery-masonry:before{content:'\e833'}
.eicon-icon-box:before{content:'\e834'}
.eicon-image-before-after:before{content:'\e835'}
.eicon-image-box:before{content:'\e836'}
.eicon-image-hotspot:before{content:'\e837'}
.eicon-image-rollover:before{content:'\e838'}
.eicon-info-box:before{content:'\e839'}
.eicon-inner-section:before{content:'\e840'}
.eicon-mailchimp:before{content:'\e841'}
.eicon-menu-card:before{content:'\e842'}
.eicon-navigation-horizontal:before{content:'\e843'}
.eicon-nav-menu:before{content:'\e844'}
.eicon-navigation-vertical:before{content:'\e845'}
.eicon-number-field:before{content:'\e846'}
.eicon-parallax:before{content:'\e847'}
.eicon-php7:before{content:'\e848'}
.eicon-post-list:before{content:'\e849'}
.eicon-post-slider:before{content:'\e850'}
.eicon-post:before{content:'\e851'}
.eicon-posts-carousel:before{content:'\e852'}
.eicon-posts-grid:before{content:'\e853'}
.eicon-posts-group:before{content:'\e854'}
.eicon-posts-justified:before{content:'\e855'}
.eicon-posts-masonry:before{content:'\e856'}
.eicon-posts-ticker:before{content:'\e857'}
.eicon-price-list:before{content:'\e858'}
.eicon-price-table:before{content:'\e859'}
.eicon-radio:before{content:'\e860'}
.eicon-rtl:before{content:'\e861'}
.eicon-scroll:before{content:'\e862'}
.eicon-search:before{content:'\e863'}
.eicon-select:before{content:'\e864'}
.eicon-share:before{content:'\e865'}
.eicon-sidebar:before{content:'\e866'}
.eicon-skill-bar:before{content:'\e867'}
.eicon-slider-3d:before{content:'\e868'}
.eicon-slider-album:before{content:'\e869'}
.eicon-slider-device:before{content:'\e870'}
.eicon-slider-full-screen:before{content:'\e871'}
.eicon-slider-push:before{content:'\e872'}
.eicon-slider-vertical:before{content:'\e873'}
.eicon-slider-video:before{content:'\e874'}
.eicon-slideshow:before{content:'\e875'}
.eicon-social-icons:before{content:'\e876'}
.eicon-spacer:before{content:'\e877'}
.eicon-table:before{content:'\e878'}
.eicon-tabs:before{content:'\e879'}
.eicon-tel-field:before{content:'\e880'}
.eicon-text-area:before{content:'\e881'}
.eicon-text-field:before{content:'\e882'}
.eicon-thumbnails-down:before{content:'\e883'}
.eicon-thumbnails-half:before{content:'\e884'}
.eicon-thumbnails-right:before{content:'\e885'}
.eicon-time-line:before{content:'\e886'}
.eicon-toggle:before{content:'\e887'}
.eicon-url:before{content:'\e888'}
.eicon-type-tool:before{content:'\e889'}
.eicon-wordpress:before{content:'\e890'}
.eicon-align-left:before{content:'\e891'}
.eicon-anchor:before{content:'\e892'}
.eicon-bullet-list:before{content:'\e893'}
.eicon-coding:before{content:'\e894'}
.eicon-favorite:before{content:'\e895'}
.eicon-google-maps:before{content:'\e896'}
.eicon-image:before{content:'\e897'}
.eicon-photo-library:before{content:'\e898'}
.eicon-woocommerce:before{content:'\e899'}
.eicon-youtube:before{content:'\e900'}
.eicon-flip-box:before{content:'\e901'}
.eicon-settings:before{content:'\e902'}
.eicon-headphones:before{content:'\e903'}
.eicon-testimonial:before{content:'\e904'}
.eicon-counter-circle:before{content:'\e905'}
.eicon-person:before{content:'\e906'}
.eicon-chevron-right:before{content:'\e907'}
.eicon-chevron-left:before{content:'\e908'}
.eicon-close:before{content:'\e909'}
.eicon-file-download:before{content:'\e910'}
.eicon-save:before{content:'\e911'}
.eicon-zoom-in:before{content:'\e912'}
.eicon-shortcode:before{content:'\e913'}
.eicon-nerd:before{content:'\e914'}
.eicon-device-desktop:before{content:'\e915'}
.eicon-device-tablet:before{content:'\e916'}
.eicon-device-mobile:before{content:'\e917'}
.eicon-document-file:before{content:'\e918'}
.eicon-folder:before{content:'\e919'}
.eicon-hypster:before{content:'\e920'}
.eicon-h-align-left:before{content:'\e921'}
.eicon-h-align-right:before{content:'\e922'}
.eicon-h-align-center:before{content:'\e923'}
.eicon-h-align-stretch:before{content:'\e924'}
.eicon-v-align-top:before{content:'\e925'}
.eicon-v-align-bottom:before{content:'\e926'}
.eicon-v-align-middle:before{content:'\e927'}
.eicon-v-align-stretch:before{content:'\e928'}
.eicon-pro-icon:before{content:'\e929'}
.eicon-mail:before{content:'\e930'}
.eicon-lock-user:before{content:'\e931'}
.eicon-testimonial-carousel:before{content:'\e932'}
.eicon-media-carousel:before{content:'\e933'}
.eicon-section:before{content:'\e934'}
.eicon-column:before{content:'\e935'}
.eicon-edit:before{content:'\e936'}
.eicon-clone:before{content:'\e937'}
.eicon-trash:before{content:'\e938'}
.eicon-play:before{content:'\e939'}
.eicon-angle-right:before{content:'\e940'}
.eicon-angle-left:before{content:'\e941'}
.eicon-animated-headline:before{content:'\e942'}
.eicon-menu-toggle:before{content:'\e943'}
.eicon-fb-embed:before{content:'\e944'}
.eicon-fb-feed:before{content:'\e945'}
.eicon-twitter-embed:before{content:'\e946'}
.eicon-twitter-feed:before{content:'\e947'}
.eicon-sync:before{content:'\e948'}
.eicon-import-export:before{content:'\e949'}
.eicon-check-circle:before{content:'\e950'}
.eicon-library-save:before{content:'\e951'}
.eicon-library-download:before{content:'\e952'}
.eicon-insert:before{content:'\e953'}
.eicon-preview:before{content:'\e954'}
.eicon-sort-down:before{content:'\e955'}
.eicon-sort-up:before{content:'\e956'}
.eicon-heading:before{content:'\e957'}
.eicon-logo:before{content:'\e958'}
.eicon-meta-data:before{content:'\e959'}
.eicon-post-content:before{content:'\e960'}
.eicon-post-excerpt:before{content:'\e961'}
.eicon-post-navigation:before{content:'\e962'}
.eicon-yoast:before{content:'\e963'}
.eicon-nerd-chuckle:before{content:'\e964'}
.eicon-nerd-wink:before{content:'\e965'}
.eicon-comments:before{content:'\e966'}
.eicon-download-circle-o:before{content:'\e967'}
.eicon-library-upload:before{content:'\e968'}
.eicon-save-o:before{content:'\e969'}
.eicon-upload-circle-o:before{content:'\e970'}
.eicon-ellipsis-h:before{content:'\e971'}
.eicon-ellipsis-v:before{content:'\e972'}
.eicon-arrow-left:before{content:'\e973'}
.eicon-arrow-right:before{content:'\e974'}
.eicon-arrow-up:before{content:'\e975'}
.eicon-arrow-down:before{content:'\e976'}
.eicon-play-o:before{content:'\e977'}
.eicon-archive-posts:before{content:'\e978'}
.eicon-archive-title:before{content:'\e979'}
.eicon-featured-image:before{content:'\e980'}
.eicon-post-info:before{content:'\e981'}
.eicon-post-title:before{content:'\e982'}
.eicon-site-logo:before{content:'\e983'}
.eicon-site-search:before{content:'\e984'}
.eicon-site-title:before{content:'\e985'}
.eicon-plus-square:before{content:'\e986'}
.eicon-minus-square:before{content:'\e987'}
.eicon-cloud-check:before{content:'\e988'}
.eicon-drag-n-drop:before{content:'\e989'}
.eicon-home-heart:before{content:'\e990'}
.eicon-handle:before{content:'\e991'}
.eicon-cart:before{content:'\e992'}
.eicon-product-add-to-cart:before{content:'\e993'}
.eicon-product-breadcrumbs:before{content:'\e994'}
.eicon-product-categories:before{content:'\e995'}
.eicon-product-description:before{content:'\e996'}
.eicon-product-images:before{content:'\e997'}
.eicon-product-info:before{content:'\e998'}
.eicon-product-meta:before{content:'\e999'}
.eicon-product-pages:before{content:'\e1000'}
.eicon-product-price:before{content:'\e1001'}
.eicon-product-rating:before{content:'\e1002'}
.eicon-product-related:before{content:'\e1003'}
.eicon-product-stock:before{content:'\e1004'}
.eicon-product-tabs:before{content:'\e1005'}
.eicon-product-title:before{content:'\e1006'}
.eicon-product-upsell:before{content:'\e1007'}
.eicon-products:before{content:'\e1008'}
.eicon-bag-light:before{content:'\e1009'}
.eicon-bag-medium:before{content:'\e1010'}
.eicon-bag-solid:before{content:'\e1011'}
.eicon-basket-light:before{content:'\e1012'}
.eicon-basket-medium:before{content:'\e1013'}
.eicon-basket-solid:before{content:'\e1014'}
.eicon-cart-light:before{content:'\e1015'}
.eicon-cart-medium:before{content:'\e1016'}
.eicon-cart-solid:before{content:'\e1017'}
.eicon-exchange:before{content:'\e1018'}
.eicon-eye:before{content:'\e1019'}
.eicon-laptop:before{content:'\e1020'}
.eicon-collapse:before{content:'\e1021'}
.eicon-expand:before{content:'\e1022'}
.eicon-navigator:before{content:'\e1023'}
.eicon-plug:before{content:'\e1024'}
.eicon-dashboard:before{content:'\e1025'}
.eicon-font:before{content:'\e1026'}
.eicon-info:before{content:'\e1027'}
.eicon-integration:before{content:'\e1028'}
.eicon-plus-circle:before{content:'\e1029'}
.eicon-rating:before{content:'\e1030'}
.eicon-review:before{content:'\e1031'}
.eicon-tools:before{content:'\e1032'}
.eicon-loading:before{content:'\e1033'}
.eicon-sitemap:before{content:'\e1034'}
.eicon-click:before{content:'\e1035'}
.eicon-clock:before{content:'\e1036'}
.eicon-library-open:before{content:'\e1037'}
.eicon-warning:before{content:'\e1038'}
.eicon-editor-link:before{content:'\e500'}
.eicon-editor-unlink:before{content:'\e501'}
.eicon-editor-external-link:before{content:'\e502'}
.eicon-editor-close:before{content:'\e503'}
.eicon-editor-list-ol:before{content:'\e504'}
.eicon-editor-list-ul:before{content:'\e505'}
.eicon-editor-bold:before{content:'\e506'}
.eicon-editor-italic:before{content:'\e507'}
.eicon-editor-underline:before{content:'\e508'}
.eicon-editor-paragraph:before{content:'\e509'}
.eicon-editor-h1:before{content:'\e510'}
.eicon-editor-h2:before{content:'\e511'}
.eicon-editor-h3:before{content:'\e512'}
.eicon-editor-h4:before{content:'\e513'}
.eicon-editor-h5:before{content:'\e514'}
.eicon-editor-h6:before{content:'\e515'}
.eicon-editor-quote:before{content:'\e516'}
.eicon-editor-code:before{content:'\e517'}
.eicon-times:before{content:'\e909'}
.eicon-floppy-o:before{content:'\e911'}