/*!
Theme Name: Copenhagen Venture Exchange Theme
Theme URI: http://underscores.me/
Author: Frederik Nygaard
Author URI: http://cvx.eu/
Description: Theme for Copenhagen Venture Exchange
Version: 0.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: cvx
Tags: Copenhagen Venture Exchange

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Presidents Institute Theme is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@media (max-width: 1280px - 1px) {
  .display-desktop {
    display: none; } }

@media (max-width: 1023px) {
  .display-laptop {
    display: none; } }

@media (min-width: 1280px) {
  .display-laptop {
    display: none; } }

@media (min-width: 1280px) {
  .display-ipad {
    display: none; } }

@media (max-width: 767px) {
  .display-ipad {
    display: none; } }

@media (min-width: 768px) {
  .display-mobile {
    display: none; } }

@media (min-width: 1280px) {
  .display-ipad-down {
    display: none; } }

@media (max-width: 767px) {
  .display-ipad-up {
    display: none; } }

* {
  box-sizing: border-box; }

.content {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

ul li a {
  text-decoration: none;
  color: #f2f2f2; }

.align-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start; }

.align-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.align-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.show-on-form-submit {
  display: none; }

.elementor-editor-active .show-on-form-submit {
  display: block; }

p, span, a, h3, h4, h5, h6, .body-text, .button--primary, .elementor-button-text, .radio-buttons label, .list-item__number, .list-item__text p, .board-member__title, .checkbox p, .header__text, .footer__widget p, .footer__widget a, .membership__price-text, .membership__includes ul li, .elementor-text-editor p, .body-text-large, .list-item__text h3, .board-member__name, .form input:not([type="submit"]):not([type="checkbox"]),
.form textarea, .form__message, .membership__highlight-text, .elementor-text-editor h6, .elementor-text-editor h3, .info-box .elementor-text-editor ul li, .wpcf7-response-output, .wpcf7-not-valid-tip {
  font-family: 'Roboto', sans-serif; }

h1, h2, .heading, .membership__name, .elementor .elementor-widget-heading .elementor-heading-title {
  font-family: 'Roboto Slab', serif; }

.text-small, ul li a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.6px; }

.body-text, .button--primary, .elementor-button-text, .radio-buttons label, .list-item__number, .list-item__text p, .board-member__title, .checkbox p, .header__text, .footer__widget p, .footer__widget a, .membership__price-text, .membership__includes ul li, .elementor-text-editor p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 160%; }

.body-text-large, .list-item__text h3, .board-member__name, .form input:not([type="submit"]):not([type="checkbox"]),
.form textarea, .form__message, .membership__highlight-text, .elementor-text-editor h6, .elementor-text-editor h3, .info-box .elementor-text-editor ul li, .wpcf7-response-output, .wpcf7-not-valid-tip {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 160%; }

.large-heading {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 130%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .large-heading {
      font-size: 40px; } }
  @media (max-width: 767px) {
    .large-heading {
      font-size: 30px; } }

.heading, .membership__name, .elementor .elementor-widget-heading .elementor-heading-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 130%; }

h6 a {
  color: #2f2442;
  font-weight: 600; }

.header__hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

@keyframes loading {
  0% {
    width: 4px; }
  50% {
    width: 28px; }
  100% {
    width: 4px; } }

.button, .elementor-button-text {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block; }
  .button--primary, .elementor-button-text {
    color: #f2f2f2;
    background-color: #c20b5e;
    padding: 16px 23px 15px 23px;
    border: 0;
    border-right-style: solid;
    border-right-width: 48px;
    border-right-color: #940847;
    line-height: 17px;
    font-size: 16px;
    transition: background-color 0.2s ease, border 0.2s ease;
    position: relative;
    z-index: 5;
    text-transform: uppercase; }
    .button--primary:active, .elementor-button-text:active, .button--primary:focus, .elementor-button-text:focus {
      outline: none; }
    .button--primary:after, .elementor-button-text:after {
      content: "";
      width: 48px;
      height: 48px;
      display: block;
      position: absolute;
      right: -48px;
      top: 0;
      background: url(./img/icon-arrow-right-white.svg);
      background-repeat: no-repeat;
      background-size: 30% 30%;
      background-position: center center; }
    .button--primary:enabled:hover, .elementor-button-text:enabled:hover {
      background-color: #da0c6a;
      border-color: #ac0953; }
    .button--primary:disabled, .elementor-button-text:disabled {
      opacity: 0.5;
      cursor: not-allowed; }
  .button--secondary {
    color: #c20b5e;
    transition: all 0.2s ease;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .button--secondary:after {
      content: "";
      width: 48px;
      height: 48px;
      display: inline-block;
      margin-left: 15px;
      border-radius: 100%;
      right: -48px;
      top: 0;
      background: url(./img/icon-arrow-right-white.svg) #c20b5e;
      background-repeat: no-repeat;
      background-size: 35% 35%;
      background-position: center center;
      transition: all 0.2s ease; }
    .button--secondary:hover {
      color: #da0c6a; }
      .button--secondary:hover:after {
        background-color: #da0c6a; }
  .button--loading {
    background-color: #940847;
    color: #940847; }
    .button--loading:before {
      content: "";
      width: 0;
      height: 4px;
      top: 50%;
      display: block;
      position: absolute;
      background-color: rgba(242, 242, 242, 0.8);
      left: 50%;
      border-radius: 100px;
      transform: translate3d(-50%, -50%, 0);
      animation: loading 1s ease infinite; }

.hamburger-menu {
  width: 30px;
  height: 19px;
  position: relative;
  cursor: pointer; }
  .hamburger-menu span {
    width: 30px;
    height: 1px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 0; }
    .hamburger-menu span:nth-child(1) {
      top: 0;
      transition: top 0.2s ease 0.2s, transform 0.2s ease 0.1s; }
    .hamburger-menu span:nth-child(2) {
      top: 9px;
      opacity: 1;
      transition: top 0.2s ease, opacity 0.2s ease 0.2s; }
    .hamburger-menu span:nth-child(3) {
      top: 18px;
      transition: transform 0.2s ease, top 0.2s ease; }
  .hamburger-menu--open span:nth-child(1) {
    top: 9px;
    transform: rotate(-45deg);
    transition: top 0.2s ease, transform 0.2s ease 0.1s; }
  .hamburger-menu--open span:nth-child(2) {
    top: 18px;
    opacity: 0;
    transition: top 0.2s ease 0.1s, opacity 0.1s ease; }
  .hamburger-menu--open span:nth-child(3) {
    transform: rotate(-135deg);
    top: 9px;
    transition: transform 0.2s ease 0.1s, top 0.2s ease 0.1s; }

.radio-buttons {
  min-width: 300px;
  display: -ms-flexbox;
  display: flex;
  z-index: 5; }
  .radio-buttons__single {
    -ms-flex: 1;
        flex: 1;
    position: relative; }
  .radio-buttons input {
    position: absolute;
    left: -9999px; }
  .radio-buttons label {
    background-color: #38629e;
    cursor: pointer;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    padding: 15px 0;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 14px; }
  .radio-buttons input:checked + label {
    background-color: #4c81cb;
    color: #fff; }

.list-item {
  display: -ms-flexbox;
  display: flex; }
  .list-item__number {
    background-color: #4c81cb;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    color: #f2f2f2;
    font-weight: bold;
    margin-right: 20px;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    margin-top: 3px; }
  .list-item__text {
    -ms-flex: 1;
        flex: 1; }
    .list-item__text p {
      margin: 0 0 18px 0; }
    .list-item__text h3 {
      margin: 0;
      font-weight: bold; }

.board-member {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  color: #251c31; }
  .board-member__image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 20px; }
  .board-member__info-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .board-member__name {
    margin: 0;
    line-height: 140%;
    font-weight: bold; }
  .board-member__title {
    margin: 0;
    line-height: 140%; }
  .board-member .linkedin-icon {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #0e76a8;
    background-image: url(./img/icon-linkedin.svg);
    background-repeat: no-repeat;
    background-size: 45% 45%;
    background-position: center center;
    border-radius: 100%;
    margin-right: 10px;
    transition: 0.2s all ease; }
    .board-member .linkedin-icon:hover {
      background-color: #1087c0; }

.form {
  width: 100%;
  max-width: 450px;
  margin: 0 auto; }
  .form__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    -ms-flex-align: center;
        align-items: center; }
  .form span {
    width: 100%; }
  .form br {
    display: none; }
  .form input:not([type="submit"]):not([type="checkbox"]),
  .form textarea {
    width: 100%;
    border: 0;
    padding: 18px;
    background-color: rgba(242, 242, 242, 0.1);
    color: #f2f2f2;
    margin-bottom: 8px; }
    .form input:not([type="submit"]):not([type="checkbox"]):focus,
    .form textarea:focus {
      outline: 0; }
  .form textarea {
    height: 200px; }
  .form button {
    margin-top: 16px; }
  .form__message {
    width: 100%;
    padding: 21px;
    text-align: center;
    margin: 0; }
    .form__message--success {
      color: #f2f2f2; }
    .form__message--error {
      color: #9a1b1b; }

.checkbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .checkbox input {
    width: auto;
    margin-right: 20px;
    cursor: pointer; }
  .checkbox p {
    -ms-flex: 1;
        flex: 1;
    text-align: left;
    color: #f2f2f2;
    cursor: pointer; }
    .checkbox p a {
      color: #4c81cb; }

.wrapper {
  position: relative;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  height: 100%; }
  .wrapper .black-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 2;
    visibility: hidden;
    cursor: pointer; }
  .wrapper .page-wrapper {
    width: 100%;
    background-color: #fff;
    transition: transform 0.2s ease; }
  .wrapper--menu-open .page-wrapper,
  .wrapper--menu-open .top-menu {
    transform: translateX(-300px); }
  .wrapper--menu-open .black-overlay {
    opacity: 1;
    transform: translateX(-300px);
    visibility: visible; }

.header {
  position: relative;
  background-color: #251c31; }
  .header__hero img {
    -o-object-fit: cover;
       object-fit: cover; }
  .header__hero {
    display: -ms-flexbox;
    display: flex; }
  .header__text-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
    color: #f2f2f2;
    max-width: 750px;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 160px 20px 120px 20px;
    position: relative; }
    @media (min-width: 1024px) {
      .header__text-wrapper {
        min-height: 60vh; } }
    @media (max-width: 1023px) {
      .header__text-wrapper {
        padding: 120px 20px 100px 20px;
        min-height: 450px; } }
  .header__heading {
    margin: 0 0 15px 0; }
  .header__text {
    font-size: 18px;
    line-height: 170%;
    margin: 0; }
    @media (max-width: 767px) {
      .header__text {
        font-size: 16px; } }
  .header__button-wrapper {
    position: absolute;
    bottom: -22px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%; }

.top-menu {
  position: fixed;
  width: 100%;
  height: 128px;
  padding: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  transition: height 0.2s ease, padding 0.2s ease;
  z-index: 10;
  -ms-flex-pack: justify;
      justify-content: space-between;
  top: 0;
  left: 0;
  transition: all 0.2s ease; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .top-menu {
      height: 100px;
      padding: 30px; } }
  @media (max-width: 767px) {
    .top-menu {
      height: 80px;
      padding: 23px; } }
  @media (min-width: 1024px) {
    .top-menu--small {
      height: 90px;
      padding: 25px; } }
  .top-menu--small .top-menu__bg-color {
    opacity: 1; }
  .top-menu__bg-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: -1; }
  .top-menu__logo {
    height: 100%;
    -ms-flex: 0;
        flex: 0; }
    @media (min-width: 1024px) {
      .top-menu__logo {
        margin-right: 60px; } }
    .top-menu__logo img {
      height: 100%; }
  .top-menu__button-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end; }
    @media (max-width: 1023px) {
      .top-menu__button-wrapper {
        display: none; } }
  .top-menu .navigation ul {
    display: -ms-flexbox;
    display: flex; }
  .top-menu .navigation li {
    margin-right: 25px; }
  .top-menu .navigation a:after {
    content: "";
    width: 0;
    height: 4px;
    bottom: -14px;
    display: block;
    position: absolute;
    background-color: #4c81cb;
    left: 50%;
    border-radius: 100px;
    transform: translateX(-50%);
    transition: width 0.2s ease; }
  .top-menu .navigation a:hover:after {
    width: 28px; }
  @media (max-width: 1023px) {
    .top-menu .navigation {
      display: none; } }
  .top-menu__hamburger {
    width: 80px;
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    right: 0; }
  .top-menu .hamburger-menu {
    z-index: 15; }
    @media (min-width: 1024px) {
      .top-menu .hamburger-menu {
        display: none; } }

.navigation {
  -ms-flex: 1;
      flex: 1; }
  .navigation a {
    position: relative;
    transition: opacity 0.2s ease; }

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #14061d;
  width: 300px;
  height: 100%;
  transform: translateX(300px);
  transition: 0.2s all ease; }
  .mobile-menu__logo {
    width: 140px;
    margin: 40px auto 40px auto; }
  .mobile-menu .navigation a {
    display: block;
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s ease;
    cursor: pointer; }
    .mobile-menu .navigation a:hover {
      background-color: rgba(255, 255, 255, 0.2); }
  .mobile-menu .navigation li:first-child a {
    border-top: 1px solid rgba(255, 255, 255, 0.3); }
  .mobile-menu--open {
    transform: translateX(0); }

.footer {
  position: relative;
  padding: 150px 0; }
  .footer__widget-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer__widget {
    color: #cccccc;
    padding: 16px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .footer__widget {
        -ms-flex: 50%;
            flex: 50%;
        text-align: center; } }
    @media (max-width: 767px) {
      .footer__widget {
        -ms-flex: 100%;
            flex: 100%;
        -ms-flex-pack: center;
            justify-content: center;
        display: -ms-flexbox;
        display: flex;
        text-align: center; } }
    .footer__widget p {
      margin: 0;
      white-space: nowrap;
      font-size: 15px;
      font-weight: 300; }
    .footer__widget strong {
      font-weight: bold; }
    .footer__widget img {
      padding-top: 4px; }
    .footer__widget a {
      font-weight: bold;
      color: #cccccc;
      font-size: 15px; }
  .footer__button-wrapper {
    position: absolute;
    top: -22px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%; }

.text {
  color: blue; }

.membership {
  background-color: #e4e5e7;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  color: #2f2442; }
  .membership--highlight {
    max-width: 380px; }
  .membership__name {
    margin: 0;
    padding: 50px 10px;
    text-align: center;
    background-color: #251c31;
    color: #f2f2f2; }
  .membership__highlight-text {
    background-color: #4c81cb;
    padding: 12px 10px;
    text-align: center;
    color: #f2f2f2;
    font-weight: bold;
    margin: 0; }
  .membership__info-wrapper {
    padding: 45px 50px 65px 50px;
    position: relative; }
  .membership__price-text {
    font-weight: 400;
    font-size: 16px;
    margin: 0; }
  .membership__price {
    font-size: 65px;
    font-weight: bold;
    margin: 0 0 20px 0; }
  .membership__includes ul li {
    font-weight: 500;
    line-height: 180%; }
    .membership__includes ul li span:before {
      content: "\2022";
      margin-right: 5px; }
  .membership__button-wrapper {
    position: absolute;
    bottom: -22px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%;
    left: 0; }

.elementor-text-editor h6 {
  margin: 0 0 18px 0; }

.elementor-text-editor h3 {
  margin: 0;
  font-weight: bold; }

.elementor-text-editor p {
  margin: 0 0 18px 0; }
  .elementor-text-editor p strong {
    font-weight: 600; }

.elementor-element-overlay {
  z-index: 999; }

.info-box .elementor-text-editor h5 {
  font-size: 220px;
  margin: 0 10px 0px -16px;
  line-height: 100%; }
  @media (max-width: 1023px) {
    .info-box .elementor-text-editor h5 {
      font-size: 180px; } }

@media (max-width: 767px) {
  .elementor-column-wrap {
    border: 0 !important; } }

.info-box .elementor-text-editor h6 {
  margin: 0; }

.info-box .elementor-text-editor ul li {
  color: #f2f2f2;
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 16px; }
  .info-box .elementor-text-editor ul li:before {
    content: "";
    margin-right: 16px;
    display: inline-block;
    background-color: #4c81cb;
    width: 45px;
    height: 45px;
    -ms-flex: 0 0 45px;
        flex: 0 0 45px;
    border-radius: 100%;
    background-image: url(./img/checkmark-white.svg);
    background-repeat: no-repeat;
    background-size: 35% 35%;
    background-position: center center; }

@media (min-width: 1024px) {
  .arrow .elementor-column:after {
    content: "";
    background: url(./img/icon-arrow-right-blue.svg);
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    right: -15px;
    position: absolute;
    top: 55px; } }

.arrow .elementor-column:last-of-type:after {
  display: none; }

.elementor-button {
  padding: 0 !important; }

.modal-content .fa-close:before {
  content: "\00d7";
  line-height: 55%; }

.modal-content {
  margin-bottom: 5%; }

.wpcf7-response-output {
  max-width: 450px;
  margin: 0 auto !important;
  border: 0 !important;
  margin-top: 30px !important;
  padding: 0 !important; }

.wpcf7-mail-sent-ok {
  color: #f2f2f2 !important; }

.wpcf7-validation-errors {
  color: #c31818 !important; }

.wpcf7-not-valid-tip {
  margin-bottom: 10px;
  color: #c31818 !important; }

/*# sourceMappingURL=style.css.map */
