.board-member {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $purple;

    &__image {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
        margin-bottom: 20px;
    }

    &__info {
        
        
    }

    &__info-wrapper {
        display: flex;
        align-items: center;
    }

    &__name {
        @extend .body-text-large;
        margin: 0;
        line-height:140%;
        font-weight:bold;
    }

    &__title {
        @extend .body-text;
        margin: 0;
        line-height:140%;
    }

    .linkedin-icon {
        display: block;
        width: 40px;
        height: 40px;
        background-color:#0e76a8;
        background-image: url(./img/icon-linkedin.svg);
        background-repeat: no-repeat;
        background-size: 45% 45%;
        background-position: center center;
        border-radius: 100%;
        margin-right: 10px;
        transition: 0.2s all ease;
        &:hover {
            background-color: lighten(#0e76a8, 5%);
        }
    }
}