@keyframes loading {
    0% {
        width: 4px;
    }
    50% {
        width: 28px;
    }

    100% {
        width: 4px;    
    }
}


.button {
    font-weight:500;
    letter-spacing:0.6px;
    
    cursor: pointer;
    text-decoration: none;
    display: inline-block;

    &--primary {
        color:$offwhite;
        background-color: $pink;;
        padding: 16px 23px 15px 23px;
        border:0;
        @extend .body-text;
        border-right-style: solid;
        border-right-width: 48px;
        border-right-color: $darkpink;
        line-height: 17px;
        font-size: 16px;
        transition: background-color 0.2s ease, border 0.2s ease;
        position: relative;
        z-index: 5;
        text-transform: uppercase;

        &:active, &:focus {
            outline: none;
        }

        &:after {
            content:"";
            width:48px;
            height:48px;
            display:block;
            position: absolute;
            right: -48px;
            top: 0;
            background: url(./img/icon-arrow-right-white.svg);
            background-repeat: no-repeat;
            background-size: 30% 30%;
            background-position: center center;
        }

        &:enabled:hover {
            background-color: lighten($pink, 5%);
            border-color: lighten($darkpink, 5%);
        }

        &:disabled {
            opacity: 0.5;
            cursor:not-allowed;
        }
    }

    &--secondary {
        color:$pink;
        transition: all 0.2s ease;
        display: flex;
        align-items: center;

        &:after {
            content: "";
            width: 48px;
            height: 48px;
            display: inline-block;
            margin-left: 15px;
            border-radius: 100%;
            right: -48px;
            top: 0;
            background: url(./img/icon-arrow-right-white.svg) #c20b5e;
            background-repeat: no-repeat;
            background-size: 35% 35%;
            background-position: center center;
            transition: all 0.2s ease;
        }

        &:hover {
            color: lighten($pink, 5%);

            &:after {
                background-color: lighten($pink, 5%);
            }
        }
    }

    &--loading {
        background-color: $darkpink;
        color: $darkpink;

        &:before {
            content:"";
            width:0;                
            height: 4px;
            top: 50%;
            display: block;
            position: absolute;
            background-color: rgba($offwhite, 0.8);
            left: 50%;
            border-radius: 100px;
            transform: translate3d(-50%, -50%, 0);
            animation: loading 1s ease infinite;      
        }
    }
}