
.checkbox {
    display: flex;
    align-items: center;
    

    input {
        width: auto;
        margin-right: 20px;
        cursor: pointer;
    }

    p {
        flex: 1;
        text-align: left;
        @extend .body-text;
        color: $offwhite;
        cursor: pointer;
        a {
            color: $blue;

        }
    }
}