.form {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    span {
        width: 100%;
    }

    br {
        display: none;
    }

    input:not([type="submit"]):not([type="checkbox"]),
    textarea {
        width:100%;
        border: 0;
        padding: 18px;
        background-color: rgba($offwhite, .1);
        color:$offwhite;
        @extend .body-text-large;
        margin-bottom: 8px;
        
        &:focus {
            outline: 0;
        }
    }

    textarea {
        height:200px;
    }

    button {
        margin-top: 16px;
    }

    &__message {      
        width: 100%;
        padding: 21px;
        text-align: center;
        margin: 0;
        @extend .body-text-large;

        &--success {
            color: $offwhite;
        }

        &--error {
            color:#9a1b1b;
        }
    }
}