.hamburger-menu {
    width:30px;
    height:19px;
    position: relative;
    cursor: pointer;

    span {
        width:30px;
        height:1px;
        background-color:#fff;
        display: block;
        position: absolute;
        left:0;

        &:nth-child(1) {
            top:0;
            transition:top 0.2s ease 0.2s, transform 0.2s ease 0.1s;
        }

        &:nth-child(2) {
            top:9px;
            opacity: 1;
            transition:top 0.2s ease, opacity 0.2s ease 0.2s;
        }

        &:nth-child(3) {
            top:18px;
            transition:transform 0.2s ease, top 0.2s ease;
        }
    }

    &--open span {

        &:nth-child(1) {
            top:9px;
            transform:rotate(-45deg);
            transition: top 0.2s ease, transform 0.2s ease 0.1s;
        }

        &:nth-child(2) {
            top: 18px;
            opacity:0;
            transition:top 0.2s ease 0.1s, opacity 0.1s ease;
        }

        &:nth-child(3) {
            transform:rotate(-135deg);
            top:9px;
            transition:transform 0.2s ease 0.1s, top 0.2s ease 0.1s;
        }
    }
}