.list-item {
    display: flex;

    &__number {
        background-color: $blue;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        @extend .body-text;
        color: $offwhite;
        font-weight: bold;
        margin-right: 20px;
        text-align: center;
        line-height: 45px;
        vertical-align: middle;
        margin-top: 3px;
    }

    &__text {
        flex: 1;
        p {
            @extend .body-text;
            margin:0 0 18px 0;
        }

        h3 {
            @extend .body-text-large;
            margin: 0;
            font-weight:bold;
        }
    }
}