.radio-buttons {
    min-width: 300px;
    display: flex;
    z-index:5;
    &__single {
        flex: 1;
        position: relative;
    }

    input {
        position: absolute;
        left: -9999px;
    }

    label {
        background-color:$darkblue;
        cursor: pointer;
        @extend .body-text;
        text-transform: uppercase;
        color: rgba(#fff, 0.5);
        padding: 15px 0;
        width: 100%;
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
    }

    input:checked + label {
        background-color: $blue;
        color:#fff;
    }
}