.elementor-176 .elementor-element.elementor-element-4b4491c8 > .elementor-container{max-width:1180px;}
.elementor-176 .elementor-element.elementor-element-4b4491c8{padding:120px 0px 030px 0px;}
.elementor-176 .elementor-element.elementor-element-7d849c65{text-align:center;}
.elementor-176 .elementor-element.elementor-element-7d849c65.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-176 .elementor-element.elementor-element-7d849c65 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-176 .elementor-element.elementor-element-6d70f58e > .elementor-container{max-width:550px;}
.elementor-176 .elementor-element.elementor-element-47c00c23 .elementor-text-editor{text-align:center;}
.elementor-176 .elementor-element.elementor-element-47c00c23{color:#2f2442;}
.elementor-176 .elementor-element.elementor-element-0908f42 > .elementor-container{max-width:1180px;}
.elementor-176 .elementor-element.elementor-element-0908f42{padding:0px 0px 30px 0px;}
.elementor-176 .elementor-element.elementor-element-b96d220{text-align:center;}
.elementor-176 .elementor-element.elementor-element-b96d220.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-176 .elementor-element.elementor-element-b96d220 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-176 .elementor-element.elementor-element-862add1 > .elementor-container{max-width:550px;}
.elementor-176 .elementor-element.elementor-element-71b2b4a .elementor-text-editor{text-align:center;}
.elementor-176 .elementor-element.elementor-element-71b2b4a{color:#2f2442;}
.elementor-176 .elementor-element.elementor-element-b3661ed > .elementor-container{max-width:1180px;}
.elementor-176 .elementor-element.elementor-element-b3661ed{padding:0px 0px 60px 0px;}
.elementor-176 .elementor-element.elementor-element-bb6c2e7{text-align:center;}
.elementor-176 .elementor-element.elementor-element-bb6c2e7.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-176 .elementor-element.elementor-element-bb6c2e7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-176 .elementor-element.elementor-element-0cef7f0 > .elementor-container{max-width:550px;}
.elementor-176 .elementor-element.elementor-element-1974b08 .elementor-text-editor{text-align:center;}
.elementor-176 .elementor-element.elementor-element-1974b08{color:#2f2442;}
.elementor-176 .elementor-element.elementor-element-41eddb4{background-color:#e4e5e7;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:090px 0px 40px 0px;}
.elementor-176 .elementor-element.elementor-element-41eddb4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-176 .elementor-element.elementor-element-3e12ad2{text-align:center;}
.elementor-176 .elementor-element.elementor-element-3e12ad2.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-176 .elementor-element.elementor-element-3e12ad2 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-176 .elementor-element.elementor-element-8160225 > .elementor-container{max-width:780px;}
.elementor-176 .elementor-element.elementor-element-8160225{background-color:#e4e5e7;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}
.elementor-176 .elementor-element.elementor-element-8160225 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-176 .elementor-element.elementor-element-8f1dc5e > .elementor-element-populated{margin:0px 0px 40px 0px;}
.elementor-176 .elementor-element.elementor-element-2a230ad > .elementor-element-populated{margin:0px 0px 40px 0px;}
.elementor-176 .elementor-element.elementor-element-5a20ff4 > .elementor-container{max-width:1180px;}
.elementor-176 .elementor-element.elementor-element-5a20ff4{background-color:#e4e5e7;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 090px 0px;}
.elementor-176 .elementor-element.elementor-element-5a20ff4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-176 .elementor-element.elementor-element-5e0f7f6 > .elementor-element-populated{margin:0px 0px 40px 0px;}
.elementor-176 .elementor-element.elementor-element-67415d5 > .elementor-element-populated{margin:0px 0px 040px 0px;}
.elementor-176 .elementor-element.elementor-element-3aa89db > .elementor-element-populated{margin:0px 0px 40px 0px;}
.elementor-176 .elementor-element.elementor-element-9230631{background-color:#251c31;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:090px 0px 20px 0px;}
.elementor-176 .elementor-element.elementor-element-9230631 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-176 .elementor-element.elementor-element-57a6276 > .elementor-container{max-width:550px;}
.elementor-176 .elementor-element.elementor-element-7d6ca16{text-align:center;}
.elementor-176 .elementor-element.elementor-element-7d6ca16.elementor-widget-heading .elementor-heading-title{color:#f2f2f2;}
.elementor-176 .elementor-element.elementor-element-7d6ca16 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-176 .elementor-element.elementor-element-8c2bbb2 .elementor-text-editor{text-align:center;}
.elementor-176 .elementor-element.elementor-element-8c2bbb2{color:#f2f2f2;}
.elementor-176 .elementor-element.elementor-element-937d381 > .elementor-container{max-width:550px;}
.elementor-176 .elementor-element.elementor-element-37f3aff{text-align:center;}
.elementor-176 .elementor-element.elementor-element-37f3aff.elementor-widget-heading .elementor-heading-title{color:#f2f2f2;}
.elementor-176 .elementor-element.elementor-element-37f3aff > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-176 .elementor-element.elementor-element-0cd998c .elementor-text-editor{text-align:center;}
.elementor-176 .elementor-element.elementor-element-0cd998c{color:#f2f2f2;}
.elementor-176 .elementor-element.elementor-element-cc3916c > .elementor-container{max-width:1180px;}
.elementor-176 .elementor-element.elementor-element-cc3916c{background-color:#251c31;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 120px 0px;}
.elementor-176 .elementor-element.elementor-element-cc3916c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}