.elementor-582 .elementor-element.elementor-element-d8e6e06 > .elementor-container{max-width:1180px;}
.elementor-582 .elementor-element.elementor-element-d8e6e06{padding:120px 0px 120px 0px;}
.elementor-582 .elementor-element.elementor-element-f069ce4 > .elementor-container{max-width:550px;}
.elementor-582 .elementor-element.elementor-element-6fe63752 .elementor-text-editor{text-align:left;}
.elementor-582 .elementor-element.elementor-element-6fe63752{color:#2f2442;}