// Media Queries Variables //

$laptop: 1280px;
$ipad: 1024px;
$mobile: 768px;

// Media Queries //

@mixin desktop {@media (min-width: #{$laptop}){ @content; }}
@mixin laptop {@media (min-width: #{$ipad}) and (max-width: #{$laptop - 1px}) { @content; }}
@mixin ipad {@media (min-width: #{$mobile}) and (max-width: #{$ipad - 1px}) { @content; }}
@mixin mobile {@media (max-width: #{$mobile - 1px}){ @content; }}

@mixin ipad-down {@media (max-width: #{$ipad - 1px}) { @content; }}
@mixin ipad-up {@media (min-width: #{$mobile}) { @content; }}
@mixin laptop-down {@media (max-width: #{$laptop} - 1px) { @content; }}
@mixin laptop-up {@media (min-width: #{$ipad}) { @content; }}

.display-desktop { @include laptop-down { display: none; }}
.display-laptop { @include ipad-down { display: none; } @include desktop { display: none; }}
.display-ipad { @include desktop { display: none; } @include mobile { display: none; }}
.display-mobile { @include ipad-up { display: none; }}

.display-ipad-down { @include desktop { display: none; }}
.display-ipad-up { @include mobile { display: none; }}