* {
    box-sizing: border-box;
}

.content {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color:$offwhite;  
}

.align {

    &-left {
        display: flex;
        justify-content: flex-start;
    }

    &-center {
        display: flex;
        justify-content: center;
    }

    &-right {
        display: flex;
        justify-content: flex-end;
    }
}

.show-on-form-submit {
    display:none;
}

.elementor-editor-active .show-on-form-submit {
    display:block;
}