@mixin aspect-ratio($width, $height) {
    padding-top: calc(100% * (#{$height} / #{$width}));
    position: relative;
}

%center-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    margin: auto;
}