%bodytext {
    font-family: 'Roboto', sans-serif;
}

%heading {
    font-family: 'Roboto Slab', serif;
}

h1, h2 {
    @extend %heading;
}

p, span, a, h3, h4, h5, h6 {
    @extend %bodytext;
}

.text-small {
    font-size:16px;
    font-weight:500;
    letter-spacing:0.6px;
}

.body-text {
    @extend %bodytext;
    font-size: 15px;
    font-weight: 300;
    letter-spacing:0.5px;
    line-height: 160%;
}

.body-text-large {
    @extend %bodytext;
    font-size: 18px;
    font-weight: 300;
    letter-spacing:0.5px;
    line-height: 160%;
}

.large-heading {
    font-size:50px;
    font-weight:400;
    letter-spacing: 0.6px;
    line-height:130%;
    
    @include ipad {
        font-size:40px;
    }

    @include mobile {
        font-size: 30px;
    }
}

.heading {
    @extend %heading;
    font-size:32px;
    font-weight: 600;
    line-height: 130%;
}

ul li a {
    @extend .text-small;
}

h6 a {
    color: $lightpurple;
    font-weight: 600;
}