.elementor-8 .elementor-element.elementor-element-2ac7e56 > .elementor-container{max-width:1180px;}
.elementor-8 .elementor-element.elementor-element-2ac7e56{margin-top:120px;margin-bottom:30px;}
.elementor-8 .elementor-element.elementor-element-191aba7 > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-49ec7ef{margin-top:0px;margin-bottom:15px;padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-8694206 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:0px;}
.elementor-8 .elementor-element.elementor-element-de67b8e{text-align:center;}
.elementor-8 .elementor-element.elementor-element-de67b8e.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-8 .elementor-element.elementor-element-de67b8e > .elementor-widget-container{margin:0px 0px 10px 0px;}
.elementor-8 .elementor-element.elementor-element-f84b047 > .elementor-container{max-width:660px;}
.elementor-8 .elementor-element.elementor-element-77753d2 > .elementor-element-populated{margin:0px 0px 10px 0px;padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-1b31bdd .elementor-text-editor{text-align:center;}
.elementor-8 .elementor-element.elementor-element-1b31bdd{color:#2f2442;}
.elementor-8 .elementor-element.elementor-element-9b1c278{margin-top:30px;margin-bottom:0px;}
.elementor-8 .elementor-element.elementor-element-f40e816 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:0px;}
.elementor-8 .elementor-element.elementor-element-f40e816 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-8 .elementor-element.elementor-element-f38f90a .elementor-image img{width:100%;}
.elementor-8 .elementor-element.elementor-element-f38f90a > .elementor-widget-container{margin:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-53919c4{color:#2f2442;}
.elementor-8 .elementor-element.elementor-element-53919c4 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-b4e1ae8 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-8 .elementor-element.elementor-element-d6cab8b .elementor-image img{width:100%;}
.elementor-8 .elementor-element.elementor-element-e425954{color:#2f2442;}
.elementor-8 .elementor-element.elementor-element-e425954 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-87c63a7 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-8 .elementor-element.elementor-element-dd7d4f6 .elementor-image img{width:100%;}
.elementor-8 .elementor-element.elementor-element-dd7d4f6 > .elementor-widget-container{padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-446a99b{color:#2f2442;}
.elementor-8 .elementor-element.elementor-element-446a99b > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-d1ac677 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-8 .elementor-element.elementor-element-2e5492a .elementor-image img{width:100%;}
.elementor-8 .elementor-element.elementor-element-2e5492a > .elementor-widget-container{padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-bf61082{color:#2f2442;}
.elementor-8 .elementor-element.elementor-element-bf61082 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-07906df{margin-top:30px;margin-bottom:0px;}
.elementor-8 .elementor-element.elementor-element-899373c > .elementor-container{max-width:1180px;}
.elementor-8 .elementor-element.elementor-element-899373c{padding:0px 0px 90px 0px;}
.elementor-8 .elementor-element.elementor-element-86b2ccf > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:0px;}
.elementor-8 .elementor-element.elementor-element-1e628f0 .elementor-image img{border-radius:100% 100% 100% 100%;}
.elementor-8 .elementor-element.elementor-element-1e628f0 > .elementor-widget-container{padding:0px 40px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-c33070b.elementor-column .elementor-column-wrap{align-items:center;}
.elementor-8 .elementor-element.elementor-element-c33070b > .elementor-element-populated{padding:0px 60px 0px 60px;}
.elementor-8 .elementor-element.elementor-element-9b88468.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-8 .elementor-element.elementor-element-e4b3b92{color:#2f2442;}
.elementor-8 .elementor-element.elementor-element-da687f4 > .elementor-container{max-width:1180px;}
.elementor-8 .elementor-element.elementor-element-da687f4{padding:0px 0px 120px 0px;}
.elementor-8 .elementor-element.elementor-element-db5bcaa{text-align:center;}
.elementor-8 .elementor-element.elementor-element-db5bcaa.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-8 .elementor-element.elementor-element-f7a2436 > .elementor-container{max-width:600px;}
.elementor-8 .elementor-element.elementor-element-7a20a71 .elementor-text-editor{text-align:center;}
.elementor-8 .elementor-element.elementor-element-7a20a71{color:#2f2442;}
.elementor-8 .elementor-element.elementor-element-2fd64f8 > .elementor-container{max-width:1180px;}
.elementor-8 .elementor-element.elementor-element-2fd64f8{background-color:#251c31;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 90px 0px;}
.elementor-8 .elementor-element.elementor-element-2fd64f8 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-8 .elementor-element.elementor-element-2a49a18 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:2px;}
.elementor-8 .elementor-element.elementor-element-2a49a18 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-8 .elementor-element.elementor-element-62871fc{text-align:center;}
.elementor-8 .elementor-element.elementor-element-62871fc .elementor-image img{width:210px;border-radius:100% 100% 100% 100%;}
.elementor-8 .elementor-element.elementor-element-62871fc > .elementor-widget-container{margin:-90px 0px 0px 0px;padding:0px 0px 40px 0px;}
.elementor-8 .elementor-element.elementor-element-b2438f5{color:#f2f2f2;}
.elementor-8 .elementor-element.elementor-element-631f1f0 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:2px;}
.elementor-8 .elementor-element.elementor-element-631f1f0 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-8 .elementor-element.elementor-element-b0fecb5{text-align:center;}
.elementor-8 .elementor-element.elementor-element-b0fecb5 .elementor-image img{width:210px;border-radius:100% 100% 100% 100%;}
.elementor-8 .elementor-element.elementor-element-b0fecb5 > .elementor-widget-container{margin:-90px 0px 0px 0px;padding:0px 0px 40px 0px;}
.elementor-8 .elementor-element.elementor-element-b6dca2c{color:#f2f2f2;}
.elementor-8 .elementor-element.elementor-element-3ecfda4 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:2px;}
.elementor-8 .elementor-element.elementor-element-3ecfda4 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-8 .elementor-element.elementor-element-f88c7ad{text-align:center;}
.elementor-8 .elementor-element.elementor-element-f88c7ad .elementor-image img{width:210px;border-radius:100% 100% 100% 100%;}
.elementor-8 .elementor-element.elementor-element-f88c7ad > .elementor-widget-container{margin:-90px 0px 0px 0px;padding:0px 0px 40px 0px;}
.elementor-8 .elementor-element.elementor-element-def2f03{color:#f2f2f2;}
.elementor-8 .elementor-element.elementor-element-1de2e87 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:2px;}
.elementor-8 .elementor-element.elementor-element-1de2e87 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-8 .elementor-element.elementor-element-3e7b15b{text-align:center;}
.elementor-8 .elementor-element.elementor-element-3e7b15b .elementor-image img{width:210px;border-radius:100% 100% 100% 100%;}
.elementor-8 .elementor-element.elementor-element-3e7b15b > .elementor-widget-container{margin:-90px 0px 0px 0px;padding:0px 0px 40px 0px;}
.elementor-8 .elementor-element.elementor-element-2d368a1{color:#f2f2f2;}
@media(max-width:1024px){.elementor-8 .elementor-element.elementor-element-f40e816 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-8 .elementor-element.elementor-element-b4e1ae8 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-8 .elementor-element.elementor-element-87c63a7 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-8 .elementor-element.elementor-element-d1ac677 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-8 .elementor-element.elementor-element-c33070b > .elementor-element-populated{padding:0px 0px 0px 20px;}
.elementor-8 .elementor-element.elementor-element-2a49a18 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-8 .elementor-element.elementor-element-631f1f0 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-8 .elementor-element.elementor-element-3ecfda4 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-8 .elementor-element.elementor-element-f88c7ad > .elementor-widget-container{margin:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-1de2e87 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-8 .elementor-element.elementor-element-3e7b15b > .elementor-widget-container{margin:00px 00px 00px 00px;}}@media(max-width:767px){.elementor-8 .elementor-element.elementor-element-2ac7e56{margin-top:0px;margin-bottom:0px;padding:90px 20px 90px 20px;}
.elementor-8 .elementor-element.elementor-element-49ec7ef{padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-f40e816 > .elementor-element-populated{margin:0px 0px 30px 0px;padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-b4e1ae8 > .elementor-element-populated{margin:0px 0px 30px 0px;padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-87c63a7 > .elementor-element-populated{margin:0px 0px 30px 0px;padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-d1ac677 > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-899373c{padding:0px 20px 60px 20px;}
.elementor-8 .elementor-element.elementor-element-86b2ccf{width:100%;}
.elementor-8 .elementor-element.elementor-element-86b2ccf > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-65765ed{padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-5c30b3f > .elementor-element-populated{padding:0px 0px 30px 0px;}
.elementor-8 .elementor-element.elementor-element-1e628f0{text-align:center;}
.elementor-8 .elementor-element.elementor-element-1e628f0 > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 20px 0px 19px;}
.elementor-8 .elementor-element.elementor-element-c33070b > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-e4b3b92 > .elementor-widget-container{padding:0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-b0fecb5 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(max-width:1024px) and (min-width:768px){.elementor-8 .elementor-element.elementor-element-f40e816{width:50%;}.elementor-8 .elementor-element.elementor-element-b4e1ae8{width:50%;}.elementor-8 .elementor-element.elementor-element-87c63a7{width:50%;}.elementor-8 .elementor-element.elementor-element-d1ac677{width:50%;}.elementor-8 .elementor-element.elementor-element-2a49a18{width:50%;}.elementor-8 .elementor-element.elementor-element-631f1f0{width:50%;}.elementor-8 .elementor-element.elementor-element-3ecfda4{width:50%;}.elementor-8 .elementor-element.elementor-element-1de2e87{width:50%;}}