._form {
    &-content {
        padding:70px 30px;
        max-width: 500px;
        margin: 0 auto;
    }
    &-label {
        display: none;
    }
    &_element {
        p {
            margin-bottom: 30px;
        }
        ._field-wrapper {
            
        }
        input {
            width:100%;
            max-width:300px;
            height:44px;
            padding:0 17px;
            font-family:"Aktiv Grotesk";
            font-size:16px;
            margin-bottom:10px;
        }
        ._error-inner {
            font-family: "Aktiv Grotesk";
            font-size:16px;
            margin-bottom:15px;
            color:#d86161;
        }
    }
    
    button {


        margin:20px auto 0 auto;
    }
    
    &-title {
        font-family:$heading-font;
        font-size:25px;
        letter-spacing:0.7px;
        color:$black;
    }
    
    p {
        font-family: $bodytext-font;
        font-size:16px;
        color:$black;
    }
}