.footer {
    position: relative;
    padding:150px 0;

    &__widget-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }

    &__widget {
        color: $softwhite;
        padding:16px;
        
        @include ipad {
            flex: 50%;
            text-align: center;
        }

        @include mobile {
            flex: 100%;
            justify-content: center;
            display: flex;
            text-align: center;
        }

        p {
            margin: 0;
            @extend .body-text;
            white-space: nowrap;
            font-size:15px;
            font-weight: 300;
        }

        strong {
            font-weight: bold;
        }

        img {
            padding-top:4px;
        }

        a {
            @extend .body-text;
            font-weight: bold;
            color:$softwhite;
            font-size:15px;
        }
    }

    &__button-wrapper {
        position: absolute;
        top: -22px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}