.header {
    position: relative;
    background-color:$purple;
    
    &__hero img {
        object-fit: cover;
        @extend %center-absolute;
    }

    &__hero {
        display: flex;
        
    }

    &__text-wrapper {
        display: flex;
        justify-content: center;
        align-items:center;
        text-align: center;
        color:$offwhite;
        max-width:750px;
        flex-direction: column;
        padding: 160px 20px 120px 20px;
        position: relative;

        @include laptop-up {
            min-height: 60vh;
        }

        @include ipad-down {
            padding: 120px 20px 100px 20px;
            min-height: 450px;
        }
    }

    &__heading {
        margin: 0 0 15px 0;
    }

    &__text {
        @extend .body-text;
        font-size:18px;
        line-height:170%;
        margin: 0;

        @include mobile {
            font-size: 16px;
        }
    }

    &__button-wrapper {
        position: absolute;
        bottom: -22px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}