.text {
    color: blue;
}

.membership {
    background-color: $grey;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    color: $lightpurple;

    &--highlight {
        max-width: 380px;
    }

    &__name {
        @extend .heading;
        margin: 0;
        padding: 50px 10px;
        text-align: center;
        background-color: $purple;
        color: $offwhite;
    }

    &__highlight-text {
        background-color: $blue;
        padding: 12px 10px;
        text-align: center;
        color: $offwhite;
        @extend .body-text-large;
        font-weight: bold;
        margin: 0;
    }

    &__info-wrapper {
        padding: 45px 50px 65px 50px;
        position: relative;
    }

    &__price-text {
        @extend .body-text;
        font-weight: 400;
        font-size:16px;
        margin: 0;
    }

    &__price {
        font-size:65px;
        font-weight: bold;
        margin:0 0 20px 0;
    }
    
    &__includes {
        ul li {
            @extend .body-text;
            font-weight: 500;
            line-height: 180%;
            & span:before {
                content: "\2022";
                margin-right:5px; 
            }
        }
    }

    &__button-wrapper {
        position: absolute;
        bottom: -22px;
        display: flex;
        justify-content: center;
        width: 100%;
        left: 0;
    }
}
