.mobile-menu {
    position: fixed;
    top:0;
    right:0;
    background-color:#14061d;
    width:300px;
    height:100%;
    transform:translateX(300px);
    transition: 0.2s all ease;

    &__logo {
        width: 140px;
        margin: 40px auto 40px auto;
    }

    .navigation {
        
        a {
            display: block;
            width:100%;
            padding: 20px 30px;
            border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
            background-color: rgba(255,255,255,0);
            transition: background-color 0.2s ease;
            cursor: pointer;

            &:hover {
                background-color: rgba(255,255,255,0.2);
            }
        }

        li:first-child a {
            border-top: 1px solid hsla(0, 0%, 100%, 0.3);
        }
    }

    &--open {
        transform: translateX(0);
    }
}