.top-menu {
    position: fixed;
    width:100%;
    height:128px;
    padding:40px;
    display: flex;
    align-items: center;
    transition:height 0.2s ease, padding 0.2s ease;
    z-index:10;
    justify-content: space-between;
    top:0;
    left:0;
    transition: all 0.2s ease;

    @include ipad {
        height:100px;
        padding:30px;
    }

    @include mobile {
        height:80px;
        padding:23px;
    }

    &--small {
        
        @include laptop-up {
            height:90px;
            padding:25px;
        }

        .top-menu__bg-color {
            opacity: 1;
        }
    }

    &__bg-color {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        opacity: 0;
        transition:opacity 0.2s ease;
        z-index: -1;
    }

    &__logo {
        height:100%;
        flex:0;
        @include laptop-up {
            margin-right:60px;
        }

        img {
            height:100%;
        }
    }

    &__button-wrapper {
        display:flex;
        justify-content: flex-end;

        @include ipad-down {
            display: none;
        }
    }

    .navigation {

        ul {
            display: flex;
        }

        li {
            margin-right:25px;
        }

        a {
            &:after {
                content:"";
                width:0;                
                height: 4px;
                bottom: -14px;
                display: block;
                position: absolute;
                background-color: $blue;
                left: 50%;
                border-radius: 100px;
                transform: translateX(-50%);
                transition:width 0.2s ease;
            }
    
            &:hover:after {
                width: 28px;
            }
        }

        @include ipad-down {
            display: none;
        }
        
    }

    &__hamburger {
        width: 80px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
    }

    .hamburger-menu {
        z-index:15;

        @include laptop-up {
            display:none;
        }
    }
}

