.wrapper {
    position: relative;
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    height:100%;

    .black-overlay {
        display:block;
        position: fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background-color:rgba(0,0,0,0.7);
        opacity:0;
        transition: opacity 0.2s ease, transform 0.2s ease;
        z-index:2;
        visibility: hidden;
        cursor: pointer;
    }
    
    .page-wrapper {
        width:100%;
        background-color:#fff;
        transition: transform 0.2s ease;        
    }

    &--menu-open {
        .page-wrapper,
        .top-menu {
            transform: translateX(-300px);
        }
        .black-overlay {
            opacity:1;
            transform: translateX(-300px);
            visibility: visible;
        }
    }
}
