.elementor-173 .elementor-element.elementor-element-54c695c > .elementor-container{max-width:1180px;}
.elementor-173 .elementor-element.elementor-element-54c695c{margin-top:120px;margin-bottom:120px;}
.elementor-173 .elementor-element.elementor-element-1282530f > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-173 .elementor-element.elementor-element-575cac1f{margin-top:0px;margin-bottom:10px;padding:0px 0px 0px 0px;}
.elementor-173 .elementor-element.elementor-element-5d552a20 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:0px;}
.elementor-173 .elementor-element.elementor-element-4d3c030f{text-align:center;}
.elementor-173 .elementor-element.elementor-element-4d3c030f.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-173 .elementor-element.elementor-element-4d3c030f > .elementor-widget-container{margin:0px 0px 10px 0px;}
.elementor-173 .elementor-element.elementor-element-49620710 > .elementor-container{max-width:660px;}
.elementor-173 .elementor-element.elementor-element-19941779 > .elementor-element-populated{margin:0px 0px 10px 0px;padding:0px 0px 0px 0px;}
.elementor-173 .elementor-element.elementor-element-7d69a532 .elementor-text-editor{text-align:center;}
.elementor-173 .elementor-element.elementor-element-7d69a532{color:#2f2442;}
.elementor-173 .elementor-element.elementor-element-51cc4679{margin-top:30px;margin-bottom:0px;}
.elementor-173 .elementor-element.elementor-element-f527eef > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:0px;}
.elementor-173 .elementor-element.elementor-element-f527eef > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-173 .elementor-element.elementor-element-310e1654 .elementor-image img{width:100%;}
.elementor-173 .elementor-element.elementor-element-310e1654 > .elementor-widget-container{margin:0px 0px 0px 0px;}
.elementor-173 .elementor-element.elementor-element-1c9206e1{color:#2f2442;}
.elementor-173 .elementor-element.elementor-element-1c9206e1 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-173 .elementor-element.elementor-element-48595ca0 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-173 .elementor-element.elementor-element-60a6b793 .elementor-image img{width:100%;}
.elementor-173 .elementor-element.elementor-element-60c53cf4{color:#2f2442;}
.elementor-173 .elementor-element.elementor-element-60c53cf4 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-173 .elementor-element.elementor-element-2de16ef0 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-173 .elementor-element.elementor-element-615cfb05 .elementor-image img{width:100%;}
.elementor-173 .elementor-element.elementor-element-615cfb05 > .elementor-widget-container{padding:0px 0px 0px 0px;}
.elementor-173 .elementor-element.elementor-element-5067dea9{color:#2f2442;}
.elementor-173 .elementor-element.elementor-element-5067dea9 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-173 .elementor-element.elementor-element-420c467 > .elementor-container{max-width:1180px;}
.elementor-173 .elementor-element.elementor-element-420c467{margin-top:0px;margin-bottom:60px;}
.elementor-173 .elementor-element.elementor-element-8a0f93e{text-align:center;}
.elementor-173 .elementor-element.elementor-element-8a0f93e.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-173 .elementor-element.elementor-element-8a0f93e > .elementor-widget-container{margin:0px 0px 60px 0px;}
.elementor-173 .elementor-element.elementor-element-29049a5 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-173 .elementor-element.elementor-element-2faa3c2 .elementor-image img{width:90px;filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}
.elementor-173 .elementor-element.elementor-element-17bfb6b .elementor-text-editor{text-align:center;}
.elementor-173 .elementor-element.elementor-element-17bfb6b{color:#2f2442;}
.elementor-173 .elementor-element.elementor-element-17bfb6b > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-173 .elementor-element.elementor-element-ee96c10 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-173 .elementor-element.elementor-element-8c616df .elementor-image img{width:94px;}
.elementor-173 .elementor-element.elementor-element-66b6f48 .elementor-text-editor{text-align:center;}
.elementor-173 .elementor-element.elementor-element-66b6f48{color:#2f2442;}
.elementor-173 .elementor-element.elementor-element-66b6f48 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-173 .elementor-element.elementor-element-6b98874 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-173 .elementor-element.elementor-element-5129d5e .elementor-image img{width:117px;}
.elementor-173 .elementor-element.elementor-element-22f77b1 .elementor-text-editor{text-align:center;}
.elementor-173 .elementor-element.elementor-element-22f77b1{color:#2f2442;}
.elementor-173 .elementor-element.elementor-element-22f77b1 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-173 .elementor-element.elementor-element-5a4112a > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-173 .elementor-element.elementor-element-7a67abe .elementor-image img{width:91px;}
.elementor-173 .elementor-element.elementor-element-3fd6a42 .elementor-text-editor{text-align:center;}
.elementor-173 .elementor-element.elementor-element-3fd6a42{color:#2f2442;}
.elementor-173 .elementor-element.elementor-element-3fd6a42 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-173 .elementor-element.elementor-element-15b3ce8 > .elementor-container{max-width:1180px;}
.elementor-173 .elementor-element.elementor-element-15b3ce8{background-color:#e4e5e7;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:60px 0px 60px 0px;}
.elementor-173 .elementor-element.elementor-element-15b3ce8 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-173 .elementor-element.elementor-element-8f49f44{text-align:center;}
.elementor-173 .elementor-element.elementor-element-8f49f44.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-173 .elementor-element.elementor-element-8f49f44 > .elementor-widget-container{margin:0px 0px 60px 0px;}
.elementor-173 .elementor-element.elementor-element-4c3bc1c4 > .elementor-container{max-width:1180px;}
.elementor-173 .elementor-element.elementor-element-4c3bc1c4{background-color:#251c31;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:60px 0px 60px 0px;}
.elementor-173 .elementor-element.elementor-element-4c3bc1c4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-173 .elementor-element.elementor-element-9f4769c > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:20px;}
.elementor-173 .elementor-element.elementor-element-c42e73f .elementor-image img{border-radius:100% 100% 100% 100%;}
.elementor-173 .elementor-element.elementor-element-12e2c7ac.elementor-column .elementor-column-wrap{align-items:center;}
.elementor-173 .elementor-element.elementor-element-12e2c7ac > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:20px;}
.elementor-173 .elementor-element.elementor-element-12e2c7ac > .elementor-element-populated{padding:0px 60px 0px 60px;}
.elementor-173 .elementor-element.elementor-element-675135d0.elementor-widget-heading .elementor-heading-title{color:#f2f2f2;}
.elementor-173 .elementor-element.elementor-element-54268281{color:#f2f2f2;}
@media(min-width:768px){.elementor-173 .elementor-element.elementor-element-760ac808{width:30%;}
.elementor-173 .elementor-element.elementor-element-12e2c7ac{width:70%;}}@media(max-width:1024px) and (min-width:768px){.elementor-173 .elementor-element.elementor-element-f527eef{width:50%;}
.elementor-173 .elementor-element.elementor-element-48595ca0{width:50%;}
.elementor-173 .elementor-element.elementor-element-2de16ef0{width:50%;}
.elementor-173 .elementor-element.elementor-element-29049a5{width:50%;}
.elementor-173 .elementor-element.elementor-element-ee96c10{width:50%;}
.elementor-173 .elementor-element.elementor-element-6b98874{width:50%;}
.elementor-173 .elementor-element.elementor-element-5a4112a{width:50%;}
.elementor-173 .elementor-element.elementor-element-718d1b4{width:33%;}
.elementor-173 .elementor-element.elementor-element-c3b1bc9{width:33%;}
.elementor-173 .elementor-element.elementor-element-4a27f99{width:33%;}
.elementor-173 .elementor-element.elementor-element-e5778e9{width:33%;}
.elementor-173 .elementor-element.elementor-element-1e12eb4{width:33%;}
.elementor-173 .elementor-element.elementor-element-e1d7f6c{width:33%;}}@media(max-width:1024px){.elementor-173 .elementor-element.elementor-element-f527eef > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-173 .elementor-element.elementor-element-48595ca0 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-173 .elementor-element.elementor-element-2de16ef0 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-173 .elementor-element.elementor-element-12e2c7ac > .elementor-element-populated{padding:0px 0px 0px 20px;}}@media(max-width:767px){.elementor-173 .elementor-element.elementor-element-54c695c{margin-top:0px;margin-bottom:0px;padding:90px 20px 90px 20px;}.elementor-173 .elementor-element.elementor-element-575cac1f{padding:0px 0px 0px 0px;}.elementor-173 .elementor-element.elementor-element-f527eef > .elementor-element-populated{margin:0px 0px 30px 0px;padding:0px 0px 0px 0px;}.elementor-173 .elementor-element.elementor-element-48595ca0 > .elementor-element-populated{margin:0px 0px 30px 0px;padding:0px 0px 0px 0px;}.elementor-173 .elementor-element.elementor-element-2de16ef0 > .elementor-element-populated{margin:0px 0px 30px 0px;padding:0px 0px 0px 0px;}.elementor-173 .elementor-element.elementor-element-9f4769c{width:100%;}.elementor-173 .elementor-element.elementor-element-1097b539{padding:0px 0px 0px 0px;}.elementor-173 .elementor-element.elementor-element-760ac808 > .elementor-element-populated{padding:0px 0px 30px 0px;}.elementor-173 .elementor-element.elementor-element-c42e73f{text-align:center;}.elementor-173 .elementor-element.elementor-element-c42e73f > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 20px 0px 19px;}.elementor-173 .elementor-element.elementor-element-12e2c7ac > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-173 .elementor-element.elementor-element-54268281 > .elementor-widget-container{padding:0px 0px 0px 0px;}}