.elementor-widget-heading.elementor-widget-heading .elementor-heading-title{color:#6ec1e4;}
.elementor-widget-image .widget-image-caption{color:#7a7a7a;}
.elementor-widget-text-editor{color:#7a7a7a;}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#6ec1e4;}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:#6ec1e4;border-color:#6ec1e4;}
.elementor-widget-button a.elementor-button, .elementor-widget-button .elementor-button{background-color:#61ce70;}
.elementor-widget-divider .elementor-divider-separator{border-top-color:#7a7a7a;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-title{color:#6ec1e4;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-description{color:#7a7a7a;}
.elementor-widget-icon.elementor-view-stacked .elementor-icon{background-color:#6ec1e4;}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon{color:#6ec1e4;border-color:#6ec1e4;}
.elementor-widget-icon-box.elementor-view-stacked .elementor-icon{background-color:#6ec1e4;}
.elementor-widget-icon-box.elementor-view-framed .elementor-icon, .elementor-widget-icon-box.elementor-view-default .elementor-icon{color:#6ec1e4;border-color:#6ec1e4;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-title{color:#6ec1e4;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description{color:#7a7a7a;}
.elementor-widget-star-rating .elementor-star-rating__title{color:#7a7a7a;}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{border-color:#7a7a7a;}
.elementor-widget-icon-list .elementor-icon-list-icon i{color:#6ec1e4;}
.elementor-widget-icon-list .elementor-icon-list-text{color:#54595f;}
.elementor-widget-counter .elementor-counter-number-wrapper{color:#6ec1e4;}
.elementor-widget-counter .elementor-counter-title{color:#54595f;}
.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar{background-color:#6ec1e4;}
.elementor-widget-progress .elementor-title{color:#6ec1e4;}
.elementor-widget-testimonial .elementor-testimonial-content{color:#7a7a7a;}
.elementor-widget-testimonial .elementor-testimonial-name{color:#6ec1e4;}
.elementor-widget-testimonial .elementor-testimonial-job{color:#54595f;}
.elementor-widget-tabs .elementor-tab-title{color:#6ec1e4;}
.elementor-widget-tabs .elementor-tab-title.elementor-active{color:#61ce70;}
.elementor-widget-tabs .elementor-tab-content{color:#7a7a7a;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title{color:#6ec1e4;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title.elementor-active{color:#61ce70;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-content{color:#7a7a7a;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title{color:#6ec1e4;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title.elementor-active{color:#61ce70;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-content{color:#7a7a7a;}
.elementor-widget-popup a.elementor-button{background-color:#61ce70;}
.elementor-widget-theme-site-logo .widget-image-caption{color:#7a7a7a;}
.elementor-widget-theme-site-title.elementor-widget-heading .elementor-heading-title{color:#6ec1e4;}
.elementor-widget-theme-page-title.elementor-widget-heading .elementor-heading-title{color:#6ec1e4;}
.elementor-widget-theme-post-title.elementor-widget-heading .elementor-heading-title{color:#6ec1e4;}
.elementor-widget-theme-post-excerpt .elementor-widget-container{color:#7a7a7a;}
.elementor-widget-theme-post-content{color:#7a7a7a;}
.elementor-widget-theme-post-featured-image .widget-image-caption{color:#7a7a7a;}
.elementor-widget-theme-archive-title.elementor-widget-heading .elementor-heading-title{color:#6ec1e4;}
.elementor-widget-archive-posts .elementor-post__title, .elementor-widget-archive-posts .elementor-post__title a{color:#54595f;}
.elementor-widget-archive-posts .elementor-post__read-more{color:#61ce70;}
.elementor-widget-archive-posts .elementor-post__card .elementor-post__badge{background-color:#61ce70;}
.elementor-widget-archive-posts .elementor-posts-nothing-found{color:#7a7a7a;}
.elementor-widget-posts .elementor-post__title, .elementor-widget-posts .elementor-post__title a{color:#54595f;}
.elementor-widget-posts .elementor-post__read-more{color:#61ce70;}
.elementor-widget-posts .elementor-post__card .elementor-post__badge{background-color:#61ce70;}
.elementor-widget-portfolio a .elementor-portfolio-item__overlay{background-color:#61ce70;}
.elementor-widget-portfolio .elementor-portfolio__filter{color:#7a7a7a;}
.elementor-widget-portfolio .elementor-portfolio__filter.elementor-active{color:#6ec1e4;}
.elementor-widget-form .elementor-field-group > label, .elementor-widget-form .elementor-field-subgroup label{color:#7a7a7a;}
.elementor-widget-form .elementor-field-group .elementor-field{color:#7a7a7a;}
.elementor-widget-form .elementor-button{background-color:#61ce70;}
.elementor-widget-login .elementor-field-group > a{color:#7a7a7a;}
.elementor-widget-login .elementor-field-group > a:hover{color:#61ce70;}
.elementor-widget-login .elementor-form-fields-wrapper label{color:#7a7a7a;}
.elementor-widget-login .elementor-field-group .elementor-field{color:#7a7a7a;}
.elementor-widget-login .elementor-button{background-color:#61ce70;}
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item{color:#7a7a7a;}
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus{color:#61ce70;}
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#61ce70;}
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after{border-color:#61ce70;}
.elementor-widget-animated-headline .elementor-headline-dynamic-wrapper path{stroke:#61ce70;}
.elementor-widget-animated-headline .elementor-headline-plain-text{color:#54595f;}
.elementor-widget-animated-headline .elementor-headline-dynamic-text{color:#54595f;}
.elementor-widget-price-list .elementor-price-list-header{color:#6ec1e4;}
.elementor-widget-price-list .elementor-price-list-description{color:#7a7a7a;}
.elementor-widget-price-list .elementor-price-list-separator{border-bottom-color:#54595f;}
.elementor-widget-price-table .elementor-price-table__header{background-color:#54595f;}
.elementor-widget-price-table .elementor-price-table__original-price{color:#54595f;}
.elementor-widget-price-table .elementor-price-table__period{color:#54595f;}
.elementor-widget-price-table .elementor-price-table__features-list{color:#7a7a7a;}
.elementor-widget-price-table .elementor-price-table__features-list li:before{border-top-color:#7a7a7a;}
.elementor-widget-price-table .elementor-price-table__button{background-color:#61ce70;}
.elementor-widget-price-table .elementor-price-table__additional_info{color:#7a7a7a;}
.elementor-widget-price-table .elementor-price-table__ribbon-inner{background-color:#61ce70;}
.elementor-widget-call-to-action .elementor-ribbon-inner{background-color:#61ce70;}
.elementor-widget-testimonial-carousel .elementor-testimonial__text{color:#7a7a7a;}
.elementor-widget-testimonial-carousel .elementor-testimonial__name{color:#7a7a7a;}
.elementor-widget-testimonial-carousel .elementor-testimonial__title{color:#6ec1e4;}
.elementor-widget-countdown .elementor-countdown-item{background-color:#6ec1e4;}
.elementor-widget-countdown .elementor-countdown-expire--message{color:#7a7a7a;}
.elementor-widget-search-form .elementor-search-form__input,
.elementor-widget-search-form .elementor-search-form__icon,
.elementor-widget-search-form .elementor-lightbox .dialog-lightbox-close-button,
.elementor-widget-search-form .elementor-lightbox .dialog-lightbox-close-button:hover,
.elementor-widget-search-form.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{color:#7a7a7a;}
.elementor-widget-search-form .elementor-search-form__submit{background-color:#54595f;}
.elementor-widget-author-box .elementor-author-box__name{color:#54595f;}
.elementor-widget-author-box .elementor-author-box__bio{color:#7a7a7a;}
.elementor-widget-author-box .elementor-author-box__button{color:#54595f;border-color:#54595f;}
.elementor-widget-author-box .elementor-author-box__button:hover{border-color:#54595f;color:#54595f;}
.elementor-widget-post-navigation span.post-navigation__prev--label{color:#7a7a7a;}
.elementor-widget-post-navigation span.post-navigation__next--label{color:#7a7a7a;}
.elementor-widget-post-navigation span.post-navigation__prev--title, .elementor-widget-post-navigation span.post-navigation__next--title{color:#54595f;}
.elementor-widget-post-info .elementor-icon-list-item:not(:last-child):after{border-color:#7a7a7a;}
.elementor-widget-post-info .elementor-icon-list-icon i{color:#6ec1e4;}
.elementor-widget-post-info .elementor-icon-list-text, .elementor-widget-post-info .elementor-icon-list-text a{color:#54595f;}
.elementor-widget-sitemap .elementor-sitemap-title{color:#6ec1e4;}
.elementor-widget-sitemap .elementor-sitemap-item, .elementor-widget-sitemap span.elementor-sitemap-list, .elementor-widget-sitemap .elementor-sitemap-item a{color:#7a7a7a;}
.elementor-widget-sitemap .elementor-sitemap-item{color:#7a7a7a;}
.elementor-widget-blockquote .elementor-blockquote__content{color:#7a7a7a;}
.elementor-widget-blockquote .elementor-blockquote__author{color:#54595f;}