.elementor-166 .elementor-element.elementor-element-3257521 > .elementor-container{max-width:1180px;}
.elementor-166 .elementor-element.elementor-element-3257521{padding:120px 0px 140px 0px;}
.elementor-166 .elementor-element.elementor-element-2f79ddc button.close{display:inherit;padding:3px 10px 10px 10px;color:#ffffff;}
.elementor-166 .elementor-element.elementor-element-2f79ddc button.close i{font-size:40px;}
.elementor-166 .elementor-element.elementor-element-2f79ddc button.close:not(i){font-size:20px;font-weight:100;}
.elementor-166 .elementor-element.elementor-element-2f79ddc .modal-content{max-width:600px !important;width:90% !important;margin-top:5%;}
.elementor-166 .elementor-element.elementor-element-2f79ddc > .elementor-widget-container{margin:-45px 0px 0px 0px;}
.elementor-166 .elementor-element.elementor-element-c0dbd0e button.close{display:inherit;color:#ffffff;}
.elementor-166 .elementor-element.elementor-element-c0dbd0e .modal-content{max-width:600px !important;width:90% !important;margin-top:5%;padding:0px 0px 0px 0px;}
.elementor-166 .elementor-element.elementor-element-c0dbd0e > .elementor-widget-container{margin:-45px 0px 0px 0px;}
.elementor-166 .elementor-element.elementor-element-ce2d086 button.close{display:inherit;color:#ffffff;}
.elementor-166 .elementor-element.elementor-element-ce2d086 .modal-content{max-width:600px !important;width:90% !important;margin-top:5%;padding:0px 0px 0px 0px;}
.elementor-166 .elementor-element.elementor-element-ce2d086 > .elementor-widget-container{margin:-45px 0px 0px 0px;}
.elementor-166 .elementor-element.elementor-element-2e9ad542 > .elementor-container{max-width:1180px;}
.elementor-166 .elementor-element.elementor-element-2e9ad542{padding:0px 0px 100px 0px;}
.elementor-166 .elementor-element.elementor-element-57e97ba3{text-align:center;}
.elementor-166 .elementor-element.elementor-element-57e97ba3.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-166 .elementor-element.elementor-element-51e6039 > .elementor-container{max-width:550px;}
.elementor-166 .elementor-element.elementor-element-3772bd1c .elementor-text-editor{text-align:center;}
.elementor-166 .elementor-element.elementor-element-3772bd1c{color:#2f2442;}
.elementor-166 .elementor-element.elementor-element-78e9bfca > .elementor-container{max-width:1180px;}
.elementor-166 .elementor-element.elementor-element-78e9bfca{background-color:#e4e5e7;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 90px 0px;}
.elementor-166 .elementor-element.elementor-element-78e9bfca > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-166 .elementor-element.elementor-element-489e4b28 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:2px;}
.elementor-166 .elementor-element.elementor-element-489e4b28 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-166 .elementor-element.elementor-element-7f638db8{text-align:center;}
.elementor-166 .elementor-element.elementor-element-7f638db8 .elementor-image img{width:210px;border-radius:100% 100% 100% 100%;}
.elementor-166 .elementor-element.elementor-element-7f638db8 > .elementor-widget-container{margin:-90px 0px 0px 0px;padding:0px 0px 40px 0px;}
.elementor-166 .elementor-element.elementor-element-295352a5{color:#2f2442;}
.elementor-166 .elementor-element.elementor-element-55ad44e0 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:2px;}
.elementor-166 .elementor-element.elementor-element-55ad44e0 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-166 .elementor-element.elementor-element-75fa50bd{text-align:center;}
.elementor-166 .elementor-element.elementor-element-75fa50bd .elementor-image img{width:210px;border-radius:100% 100% 100% 100%;}
.elementor-166 .elementor-element.elementor-element-75fa50bd > .elementor-widget-container{margin:-90px 0px 0px 0px;padding:0px 0px 40px 0px;}
.elementor-166 .elementor-element.elementor-element-79410c3e{color:#2f2442;}
.elementor-166 .elementor-element.elementor-element-ebe417b > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:2px;}
.elementor-166 .elementor-element.elementor-element-ebe417b > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-166 .elementor-element.elementor-element-4239b76e{text-align:center;}
.elementor-166 .elementor-element.elementor-element-4239b76e .elementor-image img{width:210px;border-radius:100% 100% 100% 100%;}
.elementor-166 .elementor-element.elementor-element-4239b76e > .elementor-widget-container{margin:-90px 0px 0px 0px;padding:0px 0px 40px 0px;}
.elementor-166 .elementor-element.elementor-element-263f520{color:#2f2442;}
.elementor-166 .elementor-element.elementor-element-5e4398e1 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:2px;}
.elementor-166 .elementor-element.elementor-element-5e4398e1 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-166 .elementor-element.elementor-element-436873d9{text-align:center;}
.elementor-166 .elementor-element.elementor-element-436873d9 .elementor-image img{width:210px;border-radius:100% 100% 100% 100%;}
.elementor-166 .elementor-element.elementor-element-436873d9 > .elementor-widget-container{margin:-90px 0px 0px 0px;padding:0px 0px 40px 0px;}
.elementor-166 .elementor-element.elementor-element-b315813{color:#2f2442;}
.elementor-166 .elementor-element.elementor-element-5e284eb{background-color:#251c31;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:80px 0px 80px 0px;}
.elementor-166 .elementor-element.elementor-element-5e284eb > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-166 .elementor-element.elementor-element-12af3a7f > .elementor-container{max-width:550px;}
.elementor-166 .elementor-element.elementor-element-12af3a7f{padding:0px 0px 30px 0px;}
.elementor-166 .elementor-element.elementor-element-6d778ab8{text-align:center;}
.elementor-166 .elementor-element.elementor-element-6d778ab8.elementor-widget-heading .elementor-heading-title{color:#f2f2f2;}
.elementor-166 .elementor-element.elementor-element-71399c57 .elementor-text-editor{text-align:center;}
.elementor-166 .elementor-element.elementor-element-71399c57{color:#f2f2f2;}
.elementor-166 .elementor-element.elementor-element-3a289df > .elementor-container{max-width:550px;}
.elementor-166 .elementor-element.elementor-element-3a289df{padding:0px 0px 30px 0px;}
.elementor-166 .elementor-element.elementor-element-d72146f{text-align:center;}
.elementor-166 .elementor-element.elementor-element-d72146f.elementor-widget-heading .elementor-heading-title{color:#f2f2f2;}
.elementor-166 .elementor-element.elementor-element-7d21d47 .elementor-text-editor{text-align:center;}
.elementor-166 .elementor-element.elementor-element-7d21d47{color:#f2f2f2;}
@media(max-width:1024px){.elementor-166 .elementor-element.elementor-element-c87828e > .elementor-element-populated{margin:0px 0px 60px 0px;}
.elementor-166 .elementor-element.elementor-element-0823979 > .elementor-element-populated{margin:0px 0px 50px 0px;}
.elementor-166 .elementor-element.elementor-element-489e4b28 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-166 .elementor-element.elementor-element-55ad44e0 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-166 .elementor-element.elementor-element-ebe417b > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-166 .elementor-element.elementor-element-4239b76e > .elementor-widget-container{margin:0px 0px 0px 0px;}
.elementor-166 .elementor-element.elementor-element-5e4398e1 > .elementor-element-populated{padding:20px 20px 20px 20px;}
.elementor-166 .elementor-element.elementor-element-436873d9 > .elementor-widget-container{margin:00px 00px 00px 00px;}}@media(max-width:767px){.elementor-166 .elementor-element.elementor-element-75fa50bd > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-166 .elementor-element.elementor-element-33c803e{width:33.191%;}}@media(max-width:1024px) and (min-width:768px){.elementor-166 .elementor-element.elementor-element-c87828e{width:100%;}.elementor-166 .elementor-element.elementor-element-0823979{width:100%;}.elementor-166 .elementor-element.elementor-element-33c803e{width:100%;}.elementor-166 .elementor-element.elementor-element-489e4b28{width:50%;}.elementor-166 .elementor-element.elementor-element-55ad44e0{width:50%;}.elementor-166 .elementor-element.elementor-element-ebe417b{width:50%;}.elementor-166 .elementor-element.elementor-element-5e4398e1{width:50%;}}