.elementor-743 .elementor-element.elementor-element-4ae40e65 > .elementor-container{max-width:1180px;}
.elementor-743 .elementor-element.elementor-element-4ae40e65{padding:120px 0px 120px 0px;}
.elementor-743 .elementor-element.elementor-element-78780a5a{text-align:center;}
.elementor-743 .elementor-element.elementor-element-78780a5a.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-743 .elementor-element.elementor-element-210df880 > .elementor-container{max-width:550px;}
.elementor-743 .elementor-element.elementor-element-3ea430c .elementor-text-editor{text-align:center;}
.elementor-743 .elementor-element.elementor-element-3ea430c{color:#2f2442;}