.elementor-585 .elementor-element.elementor-element-255a02ac > .elementor-container{max-width:1180px;}
.elementor-585 .elementor-element.elementor-element-255a02ac{padding:120px 0px 120px 0px;}
.elementor-585 .elementor-element.elementor-element-14b92b72 > .elementor-container{max-width:550px;}
.elementor-585 .elementor-element.elementor-element-2d228f8a .elementor-text-editor{text-align:left;}
.elementor-585 .elementor-element.elementor-element-2d228f8a{color:#2f2442;}