.elementor-367 .elementor-element.elementor-element-44fe79bf > .elementor-container{max-width:1180px;}
.elementor-367 .elementor-element.elementor-element-44fe79bf{background-color:#251c31;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:60px 0px 60px 0px;}
.elementor-367 .elementor-element.elementor-element-44fe79bf > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-367 .elementor-element.elementor-element-52c331a4{text-align:center;}
.elementor-367 .elementor-element.elementor-element-52c331a4.elementor-widget-heading .elementor-heading-title{color:#f2f2f2;}
.elementor-367 .elementor-element.elementor-element-52c331a4 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-367 .elementor-element.elementor-element-317f852d .elementor-text-editor{text-align:center;}
.elementor-367 .elementor-element.elementor-element-317f852d{color:#f2f2f2;}
.elementor-367 .elementor-element.elementor-element-317f852d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-367 .elementor-element.elementor-element-99d4649{text-align:center;}
.elementor-367 .elementor-element.elementor-element-99d4649.elementor-widget-heading .elementor-heading-title{color:#f2f2f2;}
.elementor-367 .elementor-element.elementor-element-99d4649 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-367 .elementor-element.elementor-element-c6ea17d .elementor-text-editor{text-align:center;}
.elementor-367 .elementor-element.elementor-element-c6ea17d{color:#f2f2f2;}
.elementor-367 .elementor-element.elementor-element-c6ea17d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-367 .elementor-element.elementor-element-4dcf2f9{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}
body.elementor-page-367{background-color:#251c31;}