.elementor-179 .elementor-element.elementor-element-332c4c48 > .elementor-container{max-width:1180px;}
.elementor-179 .elementor-element.elementor-element-332c4c48{padding:120px 0px 20px 0px;}
.elementor-179 .elementor-element.elementor-element-37538073{text-align:center;}
.elementor-179 .elementor-element.elementor-element-37538073.elementor-widget-heading .elementor-heading-title{color:#2f2442;}
.elementor-179 .elementor-element.elementor-element-630378c0 > .elementor-container{max-width:550px;}
.elementor-179 .elementor-element.elementor-element-75586a9b .elementor-text-editor{text-align:center;}
.elementor-179 .elementor-element.elementor-element-75586a9b{color:#2f2442;}
.elementor-179 .elementor-element.elementor-element-58c31a7f > .elementor-container{max-width:1180px;}
.elementor-179 .elementor-element.elementor-element-58c31a7f{margin-top:0px;margin-bottom:60px;}
.elementor-179 .elementor-element.elementor-element-5614060a > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-179 .elementor-element.elementor-element-3158b5cf .elementor-image img{width:90px;filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}
.elementor-179 .elementor-element.elementor-element-55601637 .elementor-text-editor{text-align:center;}
.elementor-179 .elementor-element.elementor-element-55601637{color:#2f2442;}
.elementor-179 .elementor-element.elementor-element-55601637 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-179 .elementor-element.elementor-element-1604e301 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-179 .elementor-element.elementor-element-393c7d70 .elementor-image img{width:94px;}
.elementor-179 .elementor-element.elementor-element-17dc61e5 .elementor-text-editor{text-align:center;}
.elementor-179 .elementor-element.elementor-element-17dc61e5{color:#2f2442;}
.elementor-179 .elementor-element.elementor-element-17dc61e5 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-179 .elementor-element.elementor-element-55e342ef > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-179 .elementor-element.elementor-element-7aa1190e .elementor-image img{width:117px;}
.elementor-179 .elementor-element.elementor-element-75601e84 .elementor-text-editor{text-align:center;}
.elementor-179 .elementor-element.elementor-element-75601e84{color:#2f2442;}
.elementor-179 .elementor-element.elementor-element-75601e84 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-179 .elementor-element.elementor-element-3be41bb2 > .elementor-element-populated{padding:10px 10px 10px 10px;}
.elementor-179 .elementor-element.elementor-element-6f7dad3f .elementor-image img{width:91px;}
.elementor-179 .elementor-element.elementor-element-749b2971 .elementor-text-editor{text-align:center;}
.elementor-179 .elementor-element.elementor-element-749b2971{color:#2f2442;}
.elementor-179 .elementor-element.elementor-element-749b2971 > .elementor-widget-container{margin:25px 0px 0px 0px;}
.elementor-179 .elementor-element.elementor-element-8dea58b > .elementor-container{max-width:1180px;}
.elementor-179 .elementor-element.elementor-element-8dea58b{background-color:#e4e5e7;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:120px;margin-bottom:0px;padding:0px 0px 120px 0px;}
.elementor-179 .elementor-element.elementor-element-8dea58b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-179 .elementor-element.elementor-element-9a75b26{background-color:#30273c;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-90px;margin-bottom:0px;padding:100px 100px 100px 100px;}
.elementor-179 .elementor-element.elementor-element-9a75b26 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-179 .elementor-element.elementor-element-d45c779 > .elementor-element-populated{border-style:solid;border-width:0px 2px 0px 0px;border-color:#4d81cc;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 60px 0px 0px;}
.elementor-179 .elementor-element.elementor-element-d45c779 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-179 .elementor-element.elementor-element-f0dd28f{color:#f2f2f2;}
.elementor-179 .elementor-element.elementor-element-5ca0705 > .elementor-element-populated{padding:0px 0px 0px 80px;}
.elementor-179 .elementor-element.elementor-element-8f66e8f > .elementor-widget-container{margin:-25px 0px 0px 0px;}
.elementor-179 .elementor-element.elementor-element-7fbdfd3d > .elementor-container{max-width:1180px;}
.elementor-179 .elementor-element.elementor-element-7fbdfd3d{background-color:#251c31;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:60px 0px 60px 0px;}
.elementor-179 .elementor-element.elementor-element-7fbdfd3d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-179 .elementor-element.elementor-element-2d391a7f > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:20px;}
.elementor-179 .elementor-element.elementor-element-56c7220c .elementor-image img{border-radius:100% 100% 100% 100%;}
.elementor-179 .elementor-element.elementor-element-7d0f0d4c.elementor-column .elementor-column-wrap{align-items:center;}
.elementor-179 .elementor-element.elementor-element-7d0f0d4c > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:20px;}
.elementor-179 .elementor-element.elementor-element-7d0f0d4c > .elementor-element-populated{padding:0px 60px 0px 60px;}
.elementor-179 .elementor-element.elementor-element-366245ef.elementor-widget-heading .elementor-heading-title{color:#f2f2f2;}
.elementor-179 .elementor-element.elementor-element-e2b8f5a{color:#f2f2f2;}
@media(min-width:768px){.elementor-179 .elementor-element.elementor-element-d45c779{width:50%;}
.elementor-179 .elementor-element.elementor-element-5ca0705{width:50%;}
.elementor-179 .elementor-element.elementor-element-455bbdc5{width:30%;}
.elementor-179 .elementor-element.elementor-element-7d0f0d4c{width:70%;}}@media(max-width:1024px){.elementor-179 .elementor-element.elementor-element-9a75b26{padding:60px 60px 60px 60px;}
.elementor-179 .elementor-element.elementor-element-5ca0705 > .elementor-element-populated{padding:0px 0px 0px 40px;}
.elementor-179 .elementor-element.elementor-element-7d0f0d4c > .elementor-element-populated{padding:0px 0px 0px 20px;}}@media(max-width:767px){.elementor-179 .elementor-element.elementor-element-9a75b26{padding:40px 40px 40px 40px;}
.elementor-179 .elementor-element.elementor-element-d45c779 > .elementor-element-populated{margin:0px 0px 20px 0px;}
.elementor-179 .elementor-element.elementor-element-5ca0705 > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-179 .elementor-element.elementor-element-2d391a7f{width:100%;}
.elementor-179 .elementor-element.elementor-element-6e245951{padding:0px 0px 0px 0px;}
.elementor-179 .elementor-element.elementor-element-455bbdc5 > .elementor-element-populated{padding:0px 0px 30px 0px;}
.elementor-179 .elementor-element.elementor-element-56c7220c{text-align:center;}
.elementor-179 .elementor-element.elementor-element-56c7220c > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 20px 0px 19px;}
.elementor-179 .elementor-element.elementor-element-7d0f0d4c > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-179 .elementor-element.elementor-element-e2b8f5a > .elementor-widget-container{padding:0px 0px 0px 0px;}}@media(max-width:1024px) and (min-width:768px){.elementor-179 .elementor-element.elementor-element-5614060a{width:50%;}.elementor-179 .elementor-element.elementor-element-1604e301{width:50%;}.elementor-179 .elementor-element.elementor-element-55e342ef{width:50%;}.elementor-179 .elementor-element.elementor-element-3be41bb2{width:50%;}}