<section id="categories-2" class="widget widget_categories"><h2 class="widget-title">Categories</h2>		<ul>
	<li class="cat-item cat-item-1"><a href="http://localhost/cvx/category/ikke-kategoriseret/" >Ikke-kategoriseret</a>
</li>
		</ul>
</section>