<div class="footer__widget-item"><div class="menu-menu-1-container"><ul id="menu-menu-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182"><a href="http://localhost/cvx/medlemskab/">Medlemskab</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183"><a href="http://localhost/cvx/sog-kapital/">Søg kapital</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-184"><a href="http://localhost/cvx/om-os/">Om os</a></li>
</ul></div></div>