<div class="footer__widget-item">			<div class="textwidget"><p><strong>Copenhagen Venture Exchange</strong><br />
Langelinie Allé 47<br />
2100 København Ø<br />
Danmark<br />
+45 5350 0000<br />
<a href="mailto:cvx@cvx.eu" style="text-decoration: none"; font-weight:normal !important">cvx@cvx.eu<br />
</a></p>
</div>
		</div>