<div class="footer__widget-item">
		
		<ul class="zoom-social-icons-list zoom-social-icons-list--with-canvas zoom-social-icons-list--round zoom-social-icons-list--no-labels">

			
								<li class="zoom-social_icons-list__item">
					<a class="zoom-social_icons-list__link"
					   href="https://www.facebook.com/cvxglobal/"
						target="_blank"											>
																		
                                                    <span
                                class="screen-reader-text">facebook</span>
                        
						<span class="zoom-social_icons-list-span socicon socicon-facebook"
							data-hover-rule="background-color" data-hover-color="#3b5998"							  style="background-color : #3b5998; font-size: 18px; padding:8px"
						></span>

											</a>
				</li>

			
								<li class="zoom-social_icons-list__item">
					<a class="zoom-social_icons-list__link"
					   href="https://www.linkedin.com/company/c-v-x/"
						target="_blank"											>
																		
                                                    <span
                                class="screen-reader-text">linkedin</span>
                        
						<span class="zoom-social_icons-list-span socicon socicon-linkedin"
							data-hover-rule="background-color" data-hover-color="#3371b7"							  style="background-color : #3371b7; font-size: 18px; padding:8px"
						></span>

											</a>
				</li>

			
		</ul>

		</div>